<div class="product-table-container">

  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Branch Code</th>
        <th>City</th>
        <th>Country</th>
        <th>Coordinates</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of pagedProducts">
        <td>{{ p.branchNameEn }}</td>
        <td>{{ p.branchCode }}</td>
        <td>{{ p.cityEn }}</td>
        <td>{{ p.cityAr }}</td>
        <td>{{ p.latitude }}, {{ p.longitude }}</td>
        <td>
          <span class="status" [class.active]="p.isActive === 'Y'" [class.inactive]="p.isActive !== 'Y'">
            {{ p.isActive === 'Y' ? 'Active' : 'Inactive' }}
          </span>
        </td>
        <td class="actions">
          <img src="images/eye.png">
          <img src="images/edit.png" (click)="openModal(p)">
          <img src="images/trash_red.png" (click)="openDeletePopup(p)">
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination">
    <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
      ‹
    </button>

    <button *ngFor="let page of pages" (click)="setPage(page)" [class.active-page]="page === currentPage">
      {{ page }}
    </button>

    <span *ngIf="totalPages > 5">…</span>

    <button *ngIf="totalPages > 3" (click)="setPage(totalPages)">
      {{ totalPages }}
    </button>

    <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
      ›
    </button>
  </div>

  <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
    message="Are you sure you want to make changes to the Branch Locator? Click on delete to remove the Branch Locator"
    (confirm)="confirmDelete()" (cancel)="cancelDelete()">
  </app-comon-popup>

</div>