<div class="sidebar">
  <div class="sidebar-header">
    <img src="images/omnicor_logo.png" alt="Logo" class="sidebar-logo" />
  </div>

  <ul>
    <li *ngFor="let item of menuItems" (click)="toggleSubMenu(item)">
      <div class="menu-item">
        <span>{{ item.name }}</span>

        <mat-icon *ngIf="item.subMenu" [ngClass]="{ 'open': item.expanded }">
          {{ item.expanded ? 'keyboard_arrow_down' : 'chevron_right' }}
        </mat-icon>
      </div>

      <ul *ngIf="item.expanded">
        <li *ngFor="let subItem of item.subMenu">
          <a [routerLink]="subItem.link">{{ subItem.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>