.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
  }

  .sidebar-logo {
    max-width: 80%;
    max-height: 100px;
    object-fit: contain;
  }

  .menu-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    // transition: background-color 0.3s;
  }

  .menu-item:hover {
    background-color: #221340;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    border-radius: 12px;
    padding: 8px 12px;
  }

  .arrow {
    transition: transform 0.3s;
  }

  .arrow.open {
    transform: rotate(90deg);
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
    background-color: #ffffff;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  li {
    padding: 8px;
    cursor: pointer;
  }

  li:hover {
    background-color: white;
  }
}