<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Sub-Product Name</th>
                <th *ngIf="!subProduct">Parent Product</th>
                <th *ngIf="!subProduct">Features</th>
                <th *ngIf="!subProduct">Channel</th>
                <th *ngIf="!subProduct">Screen</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Priority</th>
                <th *ngIf="!subProduct">Actions</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of products.data; let i = index">
                <td>{{ p.name }}</td>
                <td>{{ p.productName }}</td>
                <!-- <td>{{ p.subProductNameEnglish }}</td> -->
                <td class="w-180">{{p.specificFeatures}}</td>
                <td *ngFor="let data of p.channels">{{ data.name }}</td>
                <td>{{ p.screenId }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'INA'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'INA' ? 'Inactive' : p.status }}
                    </span>
                </td>
                <td>{{p.priority}}</td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png">
                        <img src="images/trash_red.png" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

</div>