.login-card {
  display: -webkit-box;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.left-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  /* STACK IMAGE + TEXT */
  align-items: center;
  margin-bottom: 75px;
  position: relative;
  left: 50px;
}

.empower-text {
  margin-top: 32px;
  font-size: 36px;
  font-weight: 500;
  color: #090217;
  max-width: 420px;
  line-height: 40px;
  position: relative;
  top: 92px;
  right: 138px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.success-count {
  position: absolute;
  top: 110px;
  width: 180px;
  z-index: 3;
  left: 267px;

}

.graph-image {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  // height: 100vh;
  height: 308px;
  z-index: 1;
}

.graph-image-mobile {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
  // height: 100vh;
  height: 308px;
  position: relative;
  right: 115px;
  top: 164px;
}


.right-side {
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  // background: #f0f0f0;
  background: #FFFFFF;
  border-radius: 32px;
}

.login-heading {
  text-align: start;
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 34px;
  margin-top: 75px;
}

.login-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

.forgot-password {
  text-align: end;
  font-size: 14px;
  color: #606060;
  font-weight: 400;
  margin: 0px;
  line-height: 0;
}

.qr-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .graph-image {
    max-width: 100%;
  }
}

.image_logo {
  width: 120px;
  height: 30px;
}

.image_logo_qr {
  text-align: end;
}

label {
  font-size: 16px;
  font-weight: 500;
  color: #030303;
}

mat-form-field {
  background-color: white !important;
  border-radius: 16px;
  /* Optional: adds rounded corners */
  // border: none !important
  border: 1px solid #CCCCCC !important;
}

mat-form-field input {
  background-color: white !important;
}

mat-form-field .mat-input-element {
  border: none !important;
  background-color: white !important;
  color: black !important;
}

.login-btn {
  background: #090217 !important;
  padding: 20px !important;
  color: white !important;
  // width: 454px !important;
  height: 56px;
  margin-top: 16px;
  border-radius: 16px;
  width: 100%;
}

.login-header {
  display: flex;
  justify-content: center;
}

.qr-code {
  background: #DEDEDE !important;
  color: #090217 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  // width: 454px !important;
  height: 56px;
  border-radius: 16px;
  width: 100%;
}

.mat-mdc-text-field-wrapper {
  background: white;
}

::ng-deep .password-field .mdc-text-field--outlined .mdc-notched-outline {
  display: none !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}

.otp-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.otp-input input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 24px;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #030303;
}

.otp-timer {
  margin-top: 20px;
  font-size: 16px;
  color: #090217;
  text-align: center;
  font-weight: 600;
}

.resend-otp {
  margin-top: 10px;
  font-size: 14px;
  color: #7A7A7A;
  text-align: center;
  font-weight: 400;
}

.resend-otp a {
  text-decoration: underline;
}

.continue-btn {
  display: flex;
  width: 100%;
  justify-content: center;
}

.recieve-code {
  font-size: 14px;
  font-weight: 400;
  color: #7A7A7A;
  text-align: center;
}

.invalid-otp {
  color: #D92B2B;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
}

.qr-code-container {
  text-align: center;
}

.sub-header {
  color: #606060;
  font-weight: 400;
  font-size: 16px;
}

.p-relative {
  position: relative;
  top: 4px;
}

.qr-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.or-divider {
  display: flex;
  align-items: center;
  width: 100%;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 400;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #dcdcdc;
}

.or-divider span {
  padding: 0 12px;
  white-space: nowrap;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 14px;
}

.left-arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mt-26 {
  margin-top: -26px;
}