<div class="dropdown-container manage-content-header">
    <div>
        <select class="dropdown sync-dropdown">
            <option>Sync Table Name</option>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>
    <div>
        <button class="reset-button">Reset</button>
    </div>
</div>
<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Row Number</th>
                <th *ngIf="!subProduct">Channel</th>
                <th *ngIf="!subProduct">Category</th>
                <th *ngIf="!subProduct">English Question</th>
                <th *ngIf="!subProduct">English Response</th>
                <th *ngIf="!subProduct">Arabic Question</th>
                <th *ngIf="!subProduct">Arabic Response</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Actions</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of getFaqManagement">
                <td>{{ p.rowNumber }}</td>
                <td>{{ p.channelName }}</td>
                <td>{{ p.categoryName }}</td>
                <td>{{ p.englishQuestion }}</td>
                <td class="w-180">{{ p.englishResponse }}</td>
                <td>{{ p.arabicQuestion }}</td>
                <td>{{ p.arabicResponse }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'Y',
          'inactive': p.status === 'N'
        }">
                        {{ p.status === 'Y' ? 'Active' : p.status === 'N' ? 'Inactive' : p.status }}
                    </span>
                </td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
            ‹
        </button>

        <button *ngFor="let page of pages" (click)="setPage(page)" [class.active-page]="page === currentPage">
            {{ page }}
        </button>

        <span *ngIf="totalPages > 5">…</span>

        <button *ngIf="totalPages > 3" (click)="setPage(totalPages)">
            {{ totalPages }}
        </button>

        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            ›
        </button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the FAQ? Click on delete to remove the FAQ"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>
</div>