<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />Add
                Country </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">

            <!-- Channel + Category Dropdown -->
            <div class="form-row full-width mt-20">
                <div class="form-group">
                    <label>Country Code </label>
                    <mat-select formControlName="countryCode" placeholder="Select Partner Name" class="mt-20">
                        <mat-option *ngFor="let c of getCountryCode" [value]="c">{{ c.countryCode }}</mat-option>
                    </mat-select>
                </div>

            </div>

            <div class="form-row full-width">
                <div class="form-group">
                    <label>Country Description</label>
                    <input placeholder="Enter Product Name" class="mt-20" formControlName="countryDescription" />
                </div>

                <div class="form-group">
                    <label>ISO Country Code</label>
                    <input placeholder="Enter Offer Title" class="mt-20" formControlName="isoCountryCode" />
                </div>
            </div>

            <div class="form-row full-width">
                <label>Country Code Iso3a</label>
                <input placeholder="Enter Offer Tag" class="m-0" formControlName="countryCodeIso3a" />
            </div>


            <div class="form-row full-width">
                <label>Colour</label>
                <input placeholder="Enter Offer Description" class="m-0" formControlName="colour" />
            </div>


            <div class="form-row full-width">
                <label>Unit Description</label>
                <input placeholder="Enter Terms & Condition" class="m-0" formControlName="unitDescription" />
            </div>


            <div class="form-row full-width">
                <label>Base Currency</label>
                <input placeholder="Select Offer Type" class="m-0" formControlName="baseCurrency" />
            </div>

            <div class="form-row full-width mt-20">
                <div class="form-group">
                    <label>Eurozone Flag </label>
                    <mat-select formControlName="eurozoneFlag" placeholder="Select Partner Name">
                        <mat-option *ngFor="let c of eurozoneFlag" [value]="c">{{ c }}</mat-option>
                    </mat-select>
                </div>

            </div>

            <div class="form-row full-width">
                <label>Remarks</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="remarks" />
            </div>

            <div class="form-row full-width">
                <label>Mobile Number Prefix</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="mobileNumberPrefix" />
            </div>

            <div class="form-row full-width">
                <label>Nationality</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="nationality" />
            </div>

            <div class="form-row full-width">
                <label>Swift Name</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="swiftName" />
            </div>


            <div class="form-row full-width">
                <label>Transfer Remitter/Benef Address</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="transferRemitterBenefAddress" />
            </div>
            <div class="form-row full-width">
                <label>Language EN</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="languageEN" />
            </div>

            <div class="form-row full-width">
                <label>Language AR</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="languageAR" />
            </div>

            <div class="form-row full-width">
                <label>Language FR</label>
                <input placeholder="Select Reward Type" class="m-0" formControlName="languageFR" />
            </div>

            <div class="">
                <label class="mr-10">Status</label>
                <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Discard</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>