<div class="overlay" (click)="closeForm()">
  <div class="modal-container" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>Add Branch</h2>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="submitForm()">

      <!-- Text Inputs -->
      <div class="full-width">
        <label>Branch ID</label>
        <input formControlName="branchCode" placeholder="Enter branch code" />
      </div>

      <div class="p-10 full-width">
        <label>Branch Name</label>
        <input formControlName="branchName" placeholder="Enter branch name" />
      </div>

      <div class="p-10 full-width">
        <label>Full Address</label>
        <input formControlName="fullAddress" placeholder="Enter ATM name" />
      </div>

      <div class="p-10 full-width">
        <label>Address (Short)</label>
        <input formControlName="shortAddress" placeholder="Enter ATM name" />
      </div>



      <!-- Dropdowns -->
      <div class="form-row p-10">
        <div class="form-group">
          <label>Country</label>
          <mat-select formControlName="country" placeholder="Select Country">
            <mat-option *ngFor="let c of countries" [value]="c">{{ c }}</mat-option>
          </mat-select>
        </div>

        <div class="form-group p-10 pt-1">
          <label>City</label>
          <mat-select formControlName="city" placeholder="Select City">
            <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
          </mat-select>
        </div>
      </div>

      <!-- Coordinates -->
      <div class="form-row p-10">
        <div class="form-group">
          <label>Latitude</label>
          <input formControlName="latitude" placeholder="Enter Latitude" />
        </div>

        <div class="form-group p-10 pt-1">
          <label>Longitude</label>
          <input formControlName="longitude" placeholder="Enter Longitude" />
        </div>
      </div>

      <!-- Working Hours -->
      <div class="form-row p-10">
        <div class="form-group">
          <label>Timing</label>
          <input formControlName="timing" placeholder="Enter timing" />
        </div>

        <div class="form-group p-10 pt-1">
          <label>Working Hours</label>
          <mat-select formControlName="workingHours" placeholder="Select Hours">
            <mat-option value="8">8</mat-option>
            <mat-option value="12">12</mat-option>
            <mat-option value="16">16</mat-option>
          </mat-select>
        </div>
      </div>

      <!-- Checkbox Section -->
      <h3>Branch Type</h3>
      <div class="checkbox-group">
        <mat-checkbox formControlName="cashDispenser"><span class="fs-16">Retail</span></mat-checkbox>
        <mat-checkbox formControlName="recycler"><span class="fs-16">Corporate</span></mat-checkbox>
        <mat-checkbox formControlName="cdm"><span class="fs-16">Mixed</span></mat-checkbox>
        <mat-checkbox formControlName="chequeDM"><span class="fs-16">Digital</span></mat-checkbox>
      </div>

      <h3>Facilities</h3>
      <div class="checkbox-group">
        <mat-checkbox formControlName="ramp"><span class="fs-16">Ramp Access</span></mat-checkbox>
        <mat-checkbox formControlName="wheelchair" class="fs-16"><span class="fs-16">Wheelchair</span></mat-checkbox>
      </div>

      <h3>Disabled People Access</h3>
      <div class="checkbox-group">
        <mat-checkbox formControlName="ramp"><span class="fs-16">Ramp Access</span></mat-checkbox>
        <mat-checkbox formControlName="wheelchair" class="fs-16"><span class="fs-16">Wheelchair</span></mat-checkbox>
      </div>

      <h3>Online Branch</h3>
      <div class="checkbox-group">
        <mat-checkbox formControlName="feature1"><span class="fs-16">Feature 1</span></mat-checkbox>
        <mat-checkbox formControlName="feature2"><span class="fs-16">Feature 2</span></mat-checkbox>
        <mat-checkbox formControlName="feature3"><span class="fs-16">Feature 3</span></mat-checkbox>
        <mat-checkbox formControlName="feature4"><span class="fs-16">Feature 4</span></mat-checkbox>
      </div>

      <h3>Currency Supported</h3>
      <div class="checkbox-group">
        <mat-checkbox formControlName="feature1"><span class="fs-16">INR</span></mat-checkbox>
        <mat-checkbox formControlName="feature2"><span class="fs-16">QAR</span></mat-checkbox>
        <mat-checkbox formControlName="feature3"><span class="fs-16">AED</span></mat-checkbox>
        <mat-checkbox formControlName="feature4"><span class="fs-16">USD</span></mat-checkbox>
      </div>

      <div class="p-10 full-width">
        <label>Contact Details</label>
        <input formControlName="latitude" placeholder="Enter the contact details" />
      </div>


      <div class="p-10 full-width">
        <label>Maintenance Vendor</label>
        <input formControlName="latitude" placeholder="Enter ATM name" />
      </div>


      <div class="p-10 full-width">
        <label>Opening Date</label>
        <input formControlName="latitude" placeholder="Enter the date" />
      </div>
      <!-- Status -->
      <div class="p-10">
        <label class="pr-10">Status</label>
        <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
      </div>

      <!-- Buttons -->
      <div class="form-actions p-10">
        <button type="submit" mat-raised-button color="primary" class="btn-cancel" (click)="closeForm()">Cancel</button>
        <button type="button" mat-raised-button color="accent" class="btn-save" (click)="submitForm()">Save</button>
      </div>
    </form>
  </div>
</div>