<div class="stats-container">
    <div class="stat-card">
        <div class="stat-title">
            <span class="card-title">Total Unit</span>
            <div class="stat-change">
                <img src="images/sub_product_blue.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">11</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">from last month</span></div>
    </div>

    <div class="stat-card-newusers">
        <div class="stat-title">
            <span class="card-title">Active Unit</span>
            <div class="stat-change">
                <img src="images/copy_success_yellow.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">11</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">of total</span></div>

    </div>

    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Inactive Unit</span>
            <div class="stat-change">
                <img src="images/copy_green.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">0</span><span class="sub-product-month">Pending review and
                activation</span></div>
    </div>
</div>

<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Unit ID</th>
                <th *ngIf="!subProduct">Description</th>
                <th *ngIf="!subProduct">Colour</th>
                <th *ngIf="!subProduct">Unit Description</th>
                <th *ngIf="!subProduct">Country Code</th>
                <th *ngIf="!subProduct">Country Description</th>
                <th *ngIf="!subProduct">Time Zone</th>


                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of products;let i=index;" [ngClass]="{'bg-grey': i%2 != 0}">
                <td>{{ p.unitId }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.colour }}</td>
                <td>{{ p.unitDescription }}</td>
                <td>{{ p.countryCode }}</td>
                <td>{{ p.countryDescription }}</td>
                <td>{{ p.timeZone}}</td>

            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

</div>