@use '../../dashboard/dashboard-add-retail-product/dashboard-add-retail-product.scss';

.p-10 {
    padding-top: 10px;
}

.fs-16 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #030303 !important;
}


.mat-mdc-checkbox label {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: red !important;
}

::ng-deep .mdc-switch__icons {
    display: none;
}

.bottom-btn {
    position: absolute;
    bottom: 0 !important;
    width: -webkit-fill-available;
}

.mr-10 {
    margin-right: 10px;
}

.mt-24 {
    margin-top: 24px;
}

.upload-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.upload-box {
    background: #f4f4f4;
    border-radius: 12px;
    height: 48px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.placeholder-text {
    color: #9b9b9b;
    font-size: 14px;
}

.upload-btn {
    background: #221340;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.upload-btn mat-icon {
    font-size: 18px;
}

.file-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.password-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.password-box {
    background: #f4f4f4;
    border-radius: 12px;
    height: 52px;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #E7E7E8;
}

.password-box input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: #0D0B17;
}

.password-box input::placeholder {
    color: #9b9b9b;
}

.eye-icon {
    cursor: pointer;
    font-size: 20px;
    color: #4a4a4a;
}

.connectivity-btn {
    font-size: 15px;
    font-weight: 500;
    color: #6017EB;
    border: 1px solid #6017EB;
    background-color: #E3DFEB;
    border-radius: 10px;
    padding: 16px 16px;
    width: 100%;
    margin-top:20px
}