<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2>Add Apple Push Notification Service</h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
            <h3>FCM Mode</h3>
            <div class="checkbox-group">
                <mat-checkbox formControlName="production">Production</mat-checkbox>
                <mat-checkbox formControlName="development">Development</mat-checkbox>
                <mat-checkbox formControlName="appleCertificateWizard">Apple Certificate Wizard</mat-checkbox>
            </div>

            <div class="upload-wrapper mt-24">
                <label>Upload iPhone Push Certificate</label>

                <div class="upload-box">
                    <span class="placeholder-text">Upload the file here</span>

                    <button type="button" class="upload-btn">
                        <mat-icon>upload</mat-icon>
                        Upload
                    </button>

                    <input type="file" class="file-input" formControlName="iphonePushCertificate"
                        (change)="onFileChange($event)">
                </div>
            </div>

            <div class="password-wrapper mt-24">
                <label>Certificate Password</label>

                <div class="password-box">
                    <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter Password"
                        formControlName="certificatePassword" />

                    <mat-icon class="eye-icon" (click)="togglePassword()">
                        {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </div>
            </div>



            <div class="p-10 full-width">
                <label>Bundle Identifier</label>
                <input formControlName="bundleIdentifier" placeholder="Enter Bundle Identifier" />
            </div>

            <h3>Upload iPad Push Certificate</h3>
            <div class="checkbox-group">
                <mat-checkbox formControlName="pushCertificateYes"><span class="fs-16">Yes</span></mat-checkbox>
                <mat-checkbox formControlName="pushCertificateNo"><span class="fs-16">No</span></mat-checkbox>
            </div>

            <button class="connectivity-btn">Test Connectivity With Could</button>

            <div class="mt-24">
                <label class="mr-10">Status</label>
                <mat-slide-toggle color="primary" formControlName="status"></mat-slide-toggle>
            </div>


            <div class="form-actions p-10">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Cancel</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>