<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Product Name</th>
                <th *ngIf="!subProduct">Description</th>
                <th *ngIf="!subProduct">Channel</th>
                <th *ngIf="!subProduct">Screen</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Priority</th>
                <th *ngIf="!subProduct">Actions</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of pagedProducts; let i = index">
                <td>{{ p.name }}</td>
                <!-- <td>{{ p.subProductNameEnglish }}</td> -->
                <td class="w-180">
                    <!-- <div *ngFor="let name of p.subProductNameEnglish; let i = index">
                        {{ name }}
                    </div> -->
                    {{p.description}}
                </td>
                <td>All</td>
                <td>{{ p.code }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'INACT'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'INACT' ? 'Inactive' : p.status }}
                    </span>
                </td>
                <td>{{p.priority}}</td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)">
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">

        <!-- Previous -->
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
            ‹
        </button>

        <!-- Page Numbers -->
        <ng-container *ngFor="let page of pages; let i = index">

            <!-- Ellipsis -->
            <span *ngIf="i > 0 && page - pages[i - 1] > 1">
                ...
            </span>

            <!-- Page Button -->
            <button (click)="setPage(page)" [class.active-page]="page === currentPage">
                {{ page }}
            </button>

        </ng-container>

        <!-- Next -->
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            ›
        </button>

    </div>
    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the Product? Click on delete to remove the product management"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>