.layout-container {
  height: 100vh;

  mat-sidenav {
    width: 72px;
    border-right: none;
    box-shadow: 2px 0 5px rgba(0,0,0,0.05);
  }

  .page-content {
    background: #fafafa;
    min-height: calc(100vh - 64px);
    padding: 16px 24px;
  }
}
