.layout-container {
  height: calc(100vh - 64px); /* header height */
}

mat-sidenav.sidebar {
  width: 72px;
  background: #fff;
  border-right: 1px solid #e0e0e0;
  height: 100%;
  overflow: hidden !important;  
  border-radius: 0;
}

.page-content {
  background: #fafafa;
  height: 100%;
  overflow-y: auto;
  padding: 16px 24px;
}
