<div class="user-overview">
    <h2>Transaction Mix</h2>
    <p>Track active sessions, expirations, and linked devices.</p>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-title">
                <span class="card-title">To Another DB A/C</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">120</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-newusers">
            <div class="stat-title">
                <span class="card-title">To My Own DB A/C</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">350</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">To DB A/C – Bulk</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">350</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>
    </div>
</div>


<div class="user-overview">
    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-title">
                <span class="card-title">Debit Payment</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">120</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-newusers">
            <div class="stat-title">
                <span class="card-title">Credit Card Payment</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">350</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">International Fund Transfer (IFT)</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">350</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>
    </div>
</div>

<div class="stats-container">
    <div class="stat-card">
        <div class="stat-title">
            <span class="card-title">To Another Local Bank- Bulk</span>
        </div>
        <div class="stat-title">
            <div class="stat-value">120</div>
            <div class="stat-change">
                <img src="images/arrow-growth.png" class="notification_icon">
                <span>12%</span>
            </div>
        </div>
        <div class="bottom-img">
            <img src="images/mobile.png">
            <span>120</span>
            <img src="images/global.png">
            <span>150</span>
        </div>
    </div>
    <div class="stat-card-newusers">
        <div class="stat-title">
            <span class="card-title">To Staff A/C – DB</span>
        </div>
        <div class="stat-title">
            <div class="stat-value">350</div>
            <div class="stat-change">
                <img src="images/arrow-growth.png" class="notification_icon">
                <span>12%</span>
            </div>
        </div>
        <div class="bottom-img">
            <img src="images/mobile.png">
            <span>120</span>
            <img src="images/global.png">
            <span>150</span>
        </div>
    </div>
    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Ooredoo (Telco Payments)</span>
        </div>
        <div class="stat-title">
            <div class="stat-value">350</div>
            <div class="stat-change">
                <img src="images/arrow-growth.png" class="notification_icon">
                <span>12%</span>
            </div>
        </div>
        <div class="bottom-img">
            <img src="images/mobile.png">
            <span>120</span>
            <img src="images/global.png">
            <span>150</span>
        </div>
    </div>
    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Tax Payments</span>
        </div>
        <div class="stat-title">
            <div class="stat-value">350</div>
            <div class="stat-change">
                <img src="images/arrow-growth.png" class="notification_icon">
                <span>12%</span>
            </div>
        </div>
        <div class="bottom-img">
            <img src="images/mobile.png">
            <span>120</span>
            <img src="images/global.png">
            <span>150</span>
        </div>

    </div>
</div>


<mat-card>
<div class="container">
  <div class="segment-container">
    <button class="segment-btn" (click)="segmentSelection('All')" [ngClass]="{'active':selectedText == 'All'}">All</button>
    <button class="segment-btn" (click)="segmentSelection('Web')" [ngClass]="{'active':selectedText == 'Web'}">Web</button>
    <button class="segment-btn" (click)="segmentSelection('Mobile')" [ngClass]="{'active':selectedText == 'Mobile'}">Mobile</button>
  </div>
  <div class="filters-container">
    <div class="filter">
      <label for="segment">Segment:</label>
      <select id="segment" name="segment">
        <option value="all">All</option>
        <option value="web">Web</option>
        <option value="mobile">Mobile</option>
      </select>
    </div>
    <div class="filter">
        
      <!-- <label for="date">Today</label> -->
      <select id="date" name="date">
        <option value="today">Today</option>
        <option value="yesterday">Yesterday</option>
        <option value="last-week">Last Week</option>
      </select>
    </div>
    <button class="export-btn">
    <img src="images/import.png" class="notification_icon"><span>Export</span>
    </button>
  </div>
</div>
        <div class="chart-container-wrapper">
            
            <mat-card class="chart-card card-size-pie">
                <mat-card-header>
                    <div class="header-cardtitle">
                        <mat-card-title>Overall Transaction Mix (%)</mat-card-title>
                    </div>
                </mat-card-header>
        
                <mat-card-content>
                    <div class="donut-wrapper">
                        <canvas #myDonutChart></canvas>
                    </div>
        
                    <!--  Custom Legend Below  -->
                    <div class="legend-container">
                        <div class="legend-item">
                            <img src="images/green_success.png" class="notification_icon">
                            <span class="pl-10"></span> To DB A/C
                        </div>
                        <div class="legend-item">
                            <img src="images/yellow_pending.png" class="notification_icon">
                            <span class="pl-10"></span> Own A/C
                        </div>
                        <div class="legend-item">
                            <img src="images/red_failure.png" class="notification_icon">
                            <span class="pl-10"></span> Bulk DB
                        </div>
                        <div class="legend-item">
                            <img src="images/pink_pending_approved.png" class="notification_icon">
                            <span class="pl-10"></span> IFT
                        </div>
                        <div class="legend-item">
                            <img src="images/completed.png" class="notification_icon">
                            <span class="pl-10"></span> Debit Card
                        </div>
                        <div class="legend-item">
                            <img src="images/dashboard_purple.png" class="notification_icon">
                            <span class="pl-10"></span> Credit Card
                        </div>
                        <div class="legend-item">
                            <img src="images/dashboar_violet.png" class="notification_icon">
                            <span class="pl-10"></span> Ooredoo
                        </div>
                        <div class="legend-item">
                            <img src="images/dashboard_lightgreen.png" class="notification_icon">
                            <span class="pl-10"></span> Tax
                        </div>
                        <div class="legend-item">
                            <img src="images/dashboard_navy.png" class="notification_icon">
                            <span class="pl-10"></span> Staff
                        </div>
                        <div class="legend-item">
                            <img src="images/dashboard_ash.png" class="notification_icon">
                            <span class="pl-10"></span> Bulk Local
                        </div>
                    </div>
        
                </mat-card-content>
            </mat-card>
            <mat-card class="chart-card card-size-pie">
                <mat-card-header>
                    <div class="header-cardtitle">
                        <mat-card-title>Top 5 Services</mat-card-title>
                    </div>
                </mat-card-header>
                <mat-card-content>
                        <div class="bar-left-content">
                <span class="label-1">22%</span>
                 <span class="label-2">15%</span>
            </div>
             <div class="bar-left-web">
                <span class="label-3">12%</span>
                 <span class="label-4">17%</span>
                  <span class="label-5">7%</span>
            </div>
                        <canvas baseChart [data]="barChartData" [options]="barChartOptions" chartType="bar">
                        </canvas>
                        
                </mat-card-content>
            </mat-card>
        </div>
</mat-card>