<!-- Top Section -->
<div class="header-top">
  <div class="dashboard-title">
    <p>{{pageTitle}}</p>

    <div *ngIf="isSubMenu" class="d-flex">
      <mat-icon>chevron_right</mat-icon>
      <span class="header-title sub-menu" style="font-weight:700;">
        {{subMenuTitle}}
      </span>
    </div>


    <mat-icon *ngIf="isProductHub">chevron_right</mat-icon>
    <span class="header-title" style="font-weight:700;" *ngIf="isProductHub">
      Product Hub
    </span>
  </div>
  <div class="header-icons">
    <!-- Search Bar -->
    <!-- <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <mat-icon>search</mat-icon>
    </div> -->
    <!-- Notification Icon -->
    <div class="user_profile">
      <img src="images/notification.png" class="notification_icon">
      <img src="images/user_profile.png">
    </div>
  </div>
</div>

<!-- Bottom Section -->
<!-- Bottom Section -->
<div class="header-bottom" *ngIf="subMenuTitle != 'Block/Unblock Users'">
  <div class="tabs d-block">
    <div *ngIf="pageTitle =='Dashboard'" class="d-flex">
      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'all'}" *ngIf="!isProductHub"
        (click)="setActiveTab('all')">
        <img src="images/retail_product.png" class="pr-10">ALL
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'web'}" *ngIf="!isProductHub"
        (click)="setActiveTab('web')">
        <img src="images/sub_product.png" class="pr-10">Web
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'mobile'}" *ngIf="!isProductHub"
        (click)="setActiveTab('mobile')">
        <img src="images/sub_product.png" class="pr-10">Mobile
      </button>
    </div>

    <!-- calendar -->
    <div class="date-filter-wrapper mt-24" *ngIf="pageTitle =='Dashboard'">

      <!-- Date Selector -->
      <div class="date-box" (click)="openDatePicker()">
        <mat-icon class="date-icon">calendar_today</mat-icon>
        <span class="date-text">{{ selectedDateLabel }}</span>
        <mat-icon class="arrow-icon">chevron_right</mat-icon>
      </div>

      <!-- Refresh Button -->
      <button class="refresh-btn" (click)="refresh()" *ngIf="pageTitle =='Dashboard'">
        <img src="images/refresh.png" class="pr-10">
      </button>

    </div>



    <!-- manage locators -->
    <div *ngIf="subMenuTitle == 'Manage Locators'" class="d-flex">
      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'ATM Locator'}"
        *ngIf="!isProductHub" (click)="setActiveTab('ATM Locator')" (click)="atmLocator(false)">
        <img src="images/retail_product.png" class="pr-10">ATM Locator
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Branch Locator'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Branch Locator')" (click)="branchLocator(true)">
        <img src="images/sub_product.png" class="pr-10">Branch Locator
      </button>
    </div>

    <!-- manage notification -->
    <div *ngIf="subMenuTitle == 'Manage Notification'" class="d-flex">
      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Device Management'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Device Management')">
        <img src="images/retail_product.png" class="pr-10">Device Management
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Push Notification'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Push Notification')">
        <img src="images/sub_product.png" class="pr-10">Push Notification
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Message Campaign'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Message Campaign')">
        <img src="images/sub_product.png" class="pr-10">Message Campaign
      </button>


      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Customer Segments'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Customer Segments')">
        <img src="images/sub_product.png" class="pr-10">Customer Segments
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Template Creation'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Template Creation')">
        <img src="images/sub_product.png" class="pr-10">Template Creation
      </button>
    </div>

    <!-- partner onboarding -->
    <div *ngIf="subMenuTitle == 'Partner Onboarding'" class="d-flex g-20">
      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Registration'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Registration')">
        Registration
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Listing'}" *ngIf="!isProductHub"
        (click)="setActiveTab('Listing')">
        Listing
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'API Key Management'}"
        *ngIf="!isProductHub" (click)="setActiveTab('API Key Management')">
        API Key Management
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Developer Account'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Developer Account')">
        Developer Account
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Monitoring & Analytics'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Monitoring & Analytics')">
        Monitoring & Analytics
      </button>
    </div>

    <div *ngIf="subMenuTitle == 'Manage Content' && mainMenu == 'admin-center'" class="d-flex">
      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'Content Management'}"
        *ngIf="!isProductHub" (click)="setActiveTab('Content Management')">
        Content Management
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'CFMS Parameters'}"
        *ngIf="!isProductHub" (click)="setActiveTab('CFMS Parameters')">
        CFMS Parameters
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'banner'}" *ngIf="!isProductHub"
        (click)="setActiveTab('banner')">
        Banner
      </button>


      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'T&C'}" *ngIf="!isProductHub"
        (click)="setActiveTab('T&C')">
        T&C
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'product'}" *ngIf="!isProductHub"
        (click)="setActiveTab('product')">
        Product
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'databaseConfiguration'}"
        (click)="setActiveTab('databaseConfiguration')">
        Database Configuration
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'subProduct'}"
        (click)="setActiveTab('subProduct')" (click)="subProductModel(true)">
        Sub Product
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'readyToSync'}"
        (click)="setActiveTab('readyToSync')">
        Ready to Sync
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'linkConfiguration'}"
        (click)="setActiveTab('linkConfiguration')">
        Link Configuration
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'faqManagement'}"
        (click)="setActiveTab('faqManagement')">
        FAQ Management
      </button>

      <button class="tab-sub-product" [ngClass]="{'tab-button active': activeTab === 'sub'}"
        (click)="setActiveTab('sub')" (click)="subProductModel(true)">
        l18 Maintanence
      </button>




    </div>

    <span class="f-15" *ngIf="subMenuTitle == 'OTP Management'">Configuration List</span>

    <!-- manage License -->
    <span class="f-15" *ngIf="subMenuTitle == 'Manage License'">Manage License</span>

    <!-- manage mfa -->
    <span class="f-15" *ngIf="subMenuTitle == 'Manage MFA'">MFA List</span>

    <!-- manage parameter -->
    <span class="f-15" *ngIf="subMenuTitle == 'Manage Parameters'">Parameter List</span>

    <span class="f-15" *ngIf="subMenuTitle == 'Force Update'">Force Update Configuration</span>

    <span class="f-15" *ngIf="mainMenu == 'Offer Management'">Offer Management</span>
    <span class="f-15" *ngIf="mainMenu == 'Discount Management'">Discount Management</span>

    <span class="f-15" *ngIf="mainMenu == 'master-country'">Country</span>
    <span class="f-15" *ngIf="mainMenu == 'master-channel'">Channel</span>
    <span class="f-15" *ngIf="mainMenu == 'master-language'">Language</span>
    <span class="f-15" *ngIf="mainMenu == 'master-unit'">Unit</span>
    <span class="f-15" *ngIf="mainMenu == 'master-currency'">Currency</span>
    <span class="f-15" *ngIf="mainMenu == 'domain-management'">Domain Management</span>
    <span class="f-15" *ngIf="mainMenu == 'manage-user'">User Creation</span>
    <span class="f-15" *ngIf="mainMenu == 'product-management'">Product Management</span>
    <div class="custom-dropdown" *ngIf="mainMenu == 'product-management'">
      <select>
        <option selected disabled>Select Domain</option>
        <option>Domain 1</option>
        <option>Domain 2</option>
        <option>Domain 3</option>
      </select>
    </div>
  </div>


  <div class="actions" *ngIf="isProductHub">
    <button class="retail_product " *ngIf="!subProduct" (click)="openModal()"> <img src="images/plus-mini.png">Add
      Retail Product</button>
    <button class="retail_product " *ngIf="subProduct" (click)="openSubModal()"> <img src="images/plus-mini.png">Add Sub
      Product</button>
  </div>

  <!-- admin center otp adn atm -->
  <div class="actions"
    *ngIf="subMenuTitle == 'OTP Management' || subMenuTitle == 'Manage Locators' || subMenuTitle == 'Manage License' || subMenuTitle == 'Manage MFA' ||
     subMenuTitle == 'Manage Notification' || subMenuTitle == 'Manage Content' || subMenuTitle == 'Manage Parameters' || subMenuTitle == 'Force Update'
      || subMenuTitle == 'Partner Onboarding' || mainMenu == 'Offer Management' || subMenuTitle == 'Master Data' ||  mainMenu == 'Discount Management' || mainMenu == 'master-country'
      || mainMenu == 'master-language' || mainMenu == 'domain-management' || mainMenu == 'manage-user' || mainMenu == 'product-management'"
    [ngClass]="{'w-70': subMenuTitle == 'Manage License'}">

    <button class="retail_product" (click)="openConfigurationModal()" *ngIf="subMenuTitle == 'OTP Management'"> <img
        src="images/plus-mini.png">Add Configuration</button>

    <button class="retail_product " (click)="openAtmModal()" *ngIf="subMenuTitle == 'Manage Locators' && !atmLocators">
      <img src="images/plus-mini.png">Add ATM</button>

    <button class="retail_product " (click)="openBranchModal()"
      *ngIf="subMenuTitle == 'Manage Locators' && atmLocators"> <img src="images/plus-mini.png">Add Branch</button>

    <button class="retail_product " (click)="openMfaModal()" *ngIf="subMenuTitle == 'Manage MFA'"> <img
        src="images/plus-mini.png">Add MFA</button>

    <!-- notification device management -->
    <button class="retail_product " (click)="openNotificationAddModal()"
      *ngIf="activeTab == 'Device Management' && subMenuTitle == 'Manage Notification' ">
      <img src="images/plus-mini.png">Add</button>

    <!-- notification push notification -->
    <button class="export-btn" *ngIf="activeTab == 'Push Notification' && subMenuTitle == 'Manage Notification'">
      <img src="images/import.png" class="notification_icon"><span>Export</span>
    </button>

    <!-- notification message campaign -->
    <button class="retail_product " (click)="openMessageCapaignModal()"
      *ngIf="activeTab == 'Message Campaign' && subMenuTitle == 'Manage Notification'">
      <img src="images/plus-mini.png">Message Campaign</button>

    <!-- notification customer segment -->
    <button class="retail_product " (click)="openSegmentModal()"
      *ngIf="activeTab == 'Customer Segments' && subMenuTitle == 'Manage Notification'">
      <img src="images/plus-mini.png">Add Segment</button>

    <!-- notification template creation -->
    <button class="retail_product mr-10" (click)="openTemplateCreationModal()"
      *ngIf="activeTab == 'Template Creation' && subMenuTitle == 'Manage Notification'">
      <img src="images/plus-mini.png">New Template</button>

    <button class="export-btn" *ngIf="activeTab == 'Template Creation' && subMenuTitle == 'Manage Notification'">
      <img src="images/import.png" class="notification_icon"><span>Upload Excel</span>
    </button>

    <button class="retail_product " (click)="openAddBannerModal()"
      *ngIf="activeTab == 'banner' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Banner</button>

    <button class="retail_product " (click)="openTCModal()"
      *ngIf="activeTab == 'T&C' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Terms & Conditions</button>

    <button class="retail_product " (click)="openProductModal()"
      *ngIf="activeTab === 'product' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Product</button>

    <button class="retail_product " (click)="openSubProductModal()"
      *ngIf="activeTab === 'subProduct' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Sub-Product</button>

    <button class="retail_product " (click)="openDatabaseModal()"
      *ngIf="activeTab === 'databaseConfiguration' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Database</button>

    <button class="retail_product " (click)="openTableMigrationModal()"
      *ngIf="activeTab === 'readyToSync' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Table Migration</button>

    <button class="retail_product " (click)="openLinkConfigurationModal()"
      *ngIf="activeTab === 'linkConfiguration' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add Sub Product</button>

    <button class="retail_product " (click)="openFaqModal()"
      *ngIf="activeTab === 'faqManagement' && subMenuTitle == 'Manage Content'">
      <img src="images/plus-mini.png">Add FAQ</button>

    <button class="retail_product " (click)="openManageParameterModal()" *ngIf="subMenuTitle == 'Manage Parameters'">
      <img src="images/plus-mini.png">Add Parameters</button>

    <button class="retail_product " (click)="openForceUpdateModal()" *ngIf="subMenuTitle == 'Force Update'">
      <img src="images/plus-mini.png">Add Parameters</button>

    <button class="retail_product " (click)="openRegisterPartnerModal()" *ngIf="subMenuTitle == 'Partner Onboarding'">
      <img src="images/plus-mini.png">Register Partner</button>

    <button class="retail_product " (click)="openOfferManagementModal()" *ngIf="mainMenu == 'Offer Management'">
      <img src="images/plus-mini.png">Add Offer</button>


    <button class="retail_product " (click)="openDiscountManagementModal()" *ngIf="mainMenu == 'Discount Management'">
      <img src="images/plus-mini.png">Add Discount</button>

    <button class="retail_product " (click)="openCountryModal()" *ngIf="mainMenu == 'master-country'">
      <img src="images/plus-mini.png">Add Country</button>

    <button class="retail_product " (click)="openChannelModal()" *ngIf="mainMenu == 'master-channel'">
      <img src="images/plus-mini.png">Add Channel</button>

    <button class="retail_product " (click)="openLanguageModal()" *ngIf="mainMenu == 'master-language'">
      <img src="images/plus-mini.png">Add Language</button>

    <button class="retail_product " (click)="openUnitModal()" *ngIf="mainMenu == 'master-unit'">
      <img src="images/plus-mini.png">Add Language</button>

    <button class="retail_product " (click)="openCurrencyModal()" *ngIf="mainMenu == 'master-currency'">
      <img src="images/plus-mini.png">Add Currency</button>

    <button class="retail_product " (click)="openDomainModal()" *ngIf="mainMenu == 'domain-management'">
      <img src="images/plus-mini.png">Add Domain</button>

    <button class="retail_product " (click)="openUserModal()" *ngIf="mainMenu == 'manage-user'">
      <img src="images/plus-mini.png">Add User</button>

    <button class="retail_product " (click)="openUserModal()" *ngIf="mainMenu == 'product-management'">
      <img src="images/plus-mini.png">Add Product</button>




    <!-- admin center manage License filter and search bar -->
    <div class="search-wrapper" *ngIf=" subMenuTitle == 'Manage License'">
      <div class="search-box">
        <input type="text" placeholder="Search" />
        <img src="images/admin_search.png" class="notification_icon">
      </div>

      <button class="filter-btn mr-10">
        <img src="images/admin_filter.png" class="notification_icon">
      </button>
    </div>

    <button class="retail_product " (click)="openLicenseModal()" *ngIf="subMenuTitle == 'Manage License'"> <img
        src="images/plus-mini.png">Add License</button>
  </div>
</div>