.header {
    background-color: #ffffff;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

.dashboard-title {
    font-size: 20px;
    font-weight: 600;
    color: #202020;

}

.header-icons {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: #f4f4f4;
    padding: 8px 12px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding-right: 8px;
}

.mat-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 16px;
}

.user-profile {
    border-radius: 50%;
    background-color: #f4f4f4;
    padding: 8px;
}

/* Bottom Section */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

.tabs {
    display: flex;
}

.tab-button {
    padding: 8px 16px;
    margin-right: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #5f5fc4;
    color: #fff;
}

.tab-button:hover {
    background-color: #f1f1f1;
}

.actions {
    display: flex;
    align-items: center;
}

.today-btn {
    padding: 8px 16px;
    margin-right: 16px;
    //   background-color: #fff;
    //   border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    //   border-radius: 12px;
    border: none;
    cursor: pointer;
}

.mat-icon {
    margin-left: 16px;
    cursor: pointer;
    font-size: 20px;
}

.calendar_today {
    background: #F2F2F2;
    display: flex;
    align-items: anchor-center;
    border-radius: 12px;
    padding: 4px;
}

.user_profile {
    display: flex;
    align-items: center;
}

.notification_icon {
    margin-right: 10px;
}

.refresh_icon {
    margin-left: 10px;
}