.header {
    background-color: #ffffff;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

.dashboard-title {
    font-size: 20px;
    font-weight: 600;
    color: #202020;
    display: flex;
    align-items: center;

}

.header-icons {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 16px;
    background-color: #f4f4f4;
    padding: 8px 12px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    padding-right: 8px;
}

.mat-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 16px;
}

.user-profile {
    border-radius: 50%;
    background-color: #f4f4f4;
    padding: 8px;
}

/* Bottom Section */
.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 10px 20px;
}

.tabs {
    display: flex;
}

.tab-button {
    padding: 8px 16px;
    margin-right: 8px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.tab-button.active {
    // background-color: #5f5fc4;
    color: #fff;
    background: linear-gradient(90deg, #6017EB, #EAE1FA);
    display: flex;
    align-items: center;

}

.tab-button:hover {
    background-color: #f1f1f1;
}

.actions {
    display: flex;
    align-items: center;
}

.today-btn {
    padding: 8px 16px;
    margin-right: 16px;
    //   background-color: #fff;
    //   border: 1px solid #ddd;
    font-size: 14px;
    font-weight: 400;
    //   border-radius: 12px;
    border: none;
    cursor: pointer;
}

.mat-icon {
    margin-left: 16px;
    cursor: pointer;
    font-size: 20px;
}

.calendar_today {
    background: #F2F2F2;
    display: flex;
    align-items: anchor-center;
    border-radius: 12px;
    padding: 4px;
}

.user_profile {
    display: flex;
    align-items: center;
}

.notification_icon {
    margin-right: 10px;
}

.refresh_icon {
    margin-left: 10px;
}

.retail_product {
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #6017EB;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
    border: none;
    display: flex;
    align-items: center;

}

.tab-sub-product {
    border: none;
    background-color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.pr-10 {
    padding-right: 10px;
}

.f-15 {
    font-size: 14px;
    font-weight: 400 !important;
    color: #221340;
}

.d-flex {
    display: flex;
    align-items: center;
}


.search-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: end;
}

.search-box {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 30px;
    padding: 10px 16px;
    width: 260px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.search-icon {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.filter-btn {
    background: #f4f4f4;
    border: none;
    border-radius: 12px;
    padding: 10px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn img {
    width: 18px;
    height: 18px;
}

.mr-10 {
    margin-right: 10px;
}