  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    /* Adjust the width of the right-side panel */
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 9999;
  }

  .modal-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 600px;
    /* Set a max-width for the modal */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
  }

  .modal-header h2 {
    font-size: 18px;
    font-weight: 600;
    color: #4a4a4a;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #a1a1a1;
    cursor: pointer;
  }

  .form-row {
    display: flex;
    // gap: 20px;
    margin-bottom: 16px;
    flex-wrap: wrap;
  }

  .form-group {
    flex: 1;
    min-width: 220px;
    /* Ensure form groups take up equal space */
  }

  .full-width .form-group {
    flex: 1 1 100%;
    /* Make form groups take full width */
  }

  label {
    font-size: 16px;
    font-weight: 500;
    color: #0D0B17;
    line-height: 20px;
  }

  input,
  textarea,
  mat-select {
    width: 90%;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #E7E7E8;
    padding: 20px 14px;

  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 25px;
  }

  button {
    width: 120px;
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .modal-container form {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
  }

  .btn-save {
    width: 100%;
    background: #6017EB;
    border: none;
    color: #FFFFFF;
    padding: 16px 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
  }

  .btn-cancel {
    width: 100%;
    border: none !important;
    border: 1px solid #6017EB;
    padding: 10px 16px;
    border-radius: 10px;
    color: #0D0B17;
    font-weight: 500;
    font-size: 15px;
  }