@use '../../dashboard/dashboard-add-retail-product/dashboard-add-retail-product.scss';

.mt-0 {
    margin-top: 0 !important;
}

::ng-deep .mdc-switch__icons {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.p-10 {
    padding-right: 10px;
}

.w-100 {
    width: 100%;
}

.bottom-btn {
    position: absolute;
    bottom: 0 !important;
    width: -webkit-fill-available;
}

.p-23 {
    padding: 23px 14px !important;
}

.f-width {
    display: flex;
    margin-top: 20px;
}