<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />Add
                Parameter </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">

            <!-- Product Name -->
            <div class="form-row full-width" *ngIf="!isEditMode">
                <label>Unit</label>
                <mat-select formControlName="unit" placeholder="Select Unit" class="mt-0 w-100">
                    <mat-option *ngFor="let d of getUnit" [value]="d">{{ d.unitDesc }}</mat-option>
                </mat-select>
            </div>

            <!-- Channel + Category Dropdown -->
            <div class="form-row">
                <div class="form-group" *ngIf="!isEditMode">
                    <label>Channel</label>
                    <mat-select formControlName="channel" placeholder="Select Channel">
                        <mat-option *ngFor="let c of getChannel" [value]="c">{{ c.channelDesc }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Key</label>
                    <input placeholder="Enter Key" formControlName="key" class="p-23"
                        [ngClass]="{ 'f-width': isEditMode }">
                </div>
            </div>

            <div class="form-row full-width">
                <label>Value</label>
                <input placeholder="Enter Value" formControlName="value">
            </div>


            <div class="form-row full-width">
                <label>Remarks</label>
                <input placeholder="Enter Remarks" formControlName="remarks">
            </div>

            <!-- Status -->
            <div class="form-row">
                <div class="form-group">
                    Status <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-actions p-10 bottom-btn">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Cancel</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>