<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />
                Add FAQ </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">

            <div class="form-row full-width">
                <label>Row Number</label>
                <input placeholder="Enter Row Number" formControlName="rowNumber" />
            </div>

            <div class="form-row full-width">
                <label>Channel</label>
                <mat-select formControlName="channel" multiple placeholder="Select Channel">
                    <mat-option *ngFor="let c of getChannelData" [value]="c">
                        {{ c.name }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="form-row full-width">
                <label>Category</label>
                <mat-select formControlName="category" placeholder="Please select a domain." class="mt-10">
                    <mat-option *ngFor="let cat of getCategoryData" [value]="cat">{{ cat.name }}</mat-option>
                </mat-select>
            </div>

            <div class="form-row full-width">
                <label>English Question</label>
                <input placeholder="Enter" formControlName="englishQuestion" />
            </div>

            <div class="form-row full-width">
                <label>English Response</label>
                <input placeholder="Enter Group Name in Arabic" formControlName="englishResponse" />
            </div>

            <div class="form-row full-width">
                <label>Arabic Question</label>
                <input placeholder="Enter" formControlName="addQuestion" />
            </div>

            <div class="form-row full-width">
                <label>Arabic Response</label>
                <input placeholder="Enter Arabic Response" formControlName="ArabicResponse" />
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label>Start Date</label>
                    <input class="input-small mt-10" type="datetime-local" formControlName="startDate" />
                </div>

                <div class="form-group">
                    <label>End Date</label>
                    <input class="input-small mt-10" type="datetime-local" formControlName="endDate" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    Status <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
                </div>
            </div>
            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Cancel</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>