@use '../dashboard-service-request/dashboard-service-request.scss';

.label-2 {
    position: relative;
    left: 208px;
    top: 39px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.label-1 {
    position: relative;
    left: 424px;
    top: -25px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.label-3 {
    position: relative;
    left: 230px;
    top: -40px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}

.label-4 {
    position: relative;
    // left: 142px;
    top: -75px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}

.label-5 {
    position: relative;
    right: -159px;
    top: 28px;
    color: white;
    font-size: 16px;
    font-weight: 500;

}