<div class="stats-container">
    <div class="stat-card">
        <div class="stat-title">
            <span class="card-title">Total Discounts</span>
            <div class="stat-change">
                <img src="images/sub_product_blue.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">11</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">from last month</span></div>
    </div>

    <div class="stat-card-newusers">
        <div class="stat-title">
            <span class="card-title">Active Discounts</span>
            <div class="stat-change">
                <img src="images/copy_success_yellow.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">11</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">of total</span></div>

    </div>

    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Inctive Discounts</span>
            <div class="stat-change">
                <img src="images/copy_green.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">11</span><span class="sub-product-month">Pending review and
                activation</span></div>
    </div>
</div>

<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Discount ID</th>
                <th *ngIf="!subProduct">Partner Name</th>
                <th *ngIf="!subProduct">Discount Name</th>
                <th *ngIf="!subProduct">Discount Type</th>
                <th *ngIf="!subProduct">Discount Value</th>
                <th *ngIf="!subProduct">Start Date</th>
                <th *ngIf="!subProduct">End Date</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Actions</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of getDiscountMgmt">
                <td>{{ p.discountId }}</td>
                <td>{{ p.partnerName }}</td>
                <td>{{ p.discountTitle }}</td>
                <td>{{ p.discountType }}</td>
                <td>{{ p.discountValue }}</td>
                <td>{{p.startDate}}</td>
                <td>{{p.endDate}}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.isActive === 'Y',
          'inactive': p.isActive === 'N'
        }">
                        {{ p.isActive === 'Y' ? 'Active' : p.isActive === 'N' ? 'Inactive' : p.isActive }}
                    </span>
                </td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/referesh_admin.png" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Discount"
        message="Are you sure you want to delete this Discount?" (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>
</div>