<div class="user-overview">
    <h2>Service Requests</h2>
    <p>Monitor the status of customer-related service requests, approvals, and completions across channels.</p>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-title">
                <span class="card-title">Pending Requests</span>
            </div>
            <div class="stat-value">120</div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-newusers">
            <div class="stat-title">
                <span class="card-title">Pending Requests</span>
            </div>
            <div class="stat-value">350</div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">Pending Requests</span>
            </div>
            <div class="stat-value">27</div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">Pending Requests</span>
            </div>
            <div class="stat-value">9</div>
            <div class="bottom-img">
                <img src="images/mobile.png">
                <span>120</span>
                <img src="images/global.png">
                <span>150</span>
            </div>

        </div>
    </div>
</div>
<div class="chart-container-wrapper">
    <mat-card class="chart-card">
        <mat-card-header>
            <div class="mat-header">
                <mat-card-title>
                    Service Requests Status Trend</mat-card-title>

                <mat-card-title>
                    <div class="right-side-img">
                        <img src="images/dashboar_mobile.png" class="notification_icon">
                        <span class="header_title">Mobile</span>

                        <img src="images/dashboard_web.png" class="notification_icon">
                        <span class="header_title">Web</span>

                        <select class="status-dropdown">
                            <option value="completed">Completed</option>
                            <option value="pending">Pending</option>
                            <option value="in-progress">In Progress</option>
                        </select>
                    </div>
                </mat-card-title>
            </div>

        </mat-card-header>
        <mat-card-content>
            <!-- <canvas #myLineChart></canvas> -->
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" chartType="bar">
            </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card class="chart-card">
  <mat-card-header>
    <div class="mat-header">
      <mat-card-title>Requests by Channel</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <canvas #myBarChart></canvas>

    <!-- Mobile text and icon placed on the left -->
    <div class="bar-left-content">
        <img src="images/dashboard_web.png" alt="Mobile" class="icon" />
      <span class="label">Web</span>
    </div>

     <div class="bar-left-web">
      <img src="images/dashboar_mobile.png" alt="Mobile" class="icon" />
      <span class="label">Mobile</span>
    </div>

  
    <!-- Web text and icon placed on the right -->
 
  </mat-card-content>
    <div class="left-side-img">
            <div class="right-side-img ">
                <img src="images/green_success.png" class="notification_icon">
                <span class="header_title">Completed</span>
            </div>

            <div class="right-side-img ">
                <img src="images/yellow_pending.png" class="notification_icon">
                <span class="header_title">Pending</span>
            </div>

            <div class="right-side-img ">
                <img src="images/red_failure.png" class="notification_icon">
                <span class="header_title">Expired</span>
            </div>

              <div class="right-side-img ">
                <img src="images/pink_pending_approved.png" class="notification_icon">
                <span class="header_title">Pending Approval</span>
            </div>
        </div>
</mat-card>


</div>