<div class="dropdown-container manage-content-header">
    <div>
        <select class="dropdown sync-dropdown">
            <option>Sync Table Name</option>
            <option>Option 1</option>
            <option>Option 2</option>
        </select>
    </div>
    <div>
        <button class="reset-button">Reset</button>
    </div>
</div>
<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (input)="onSearchChange()" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10" (click)="sortData()">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Row Number</th>
                <th *ngIf="!subProduct">English Name</th>
                <th *ngIf="!subProduct">Group Name(English)</th>
                <th *ngIf="!subProduct">English Link</th>
                <th *ngIf="!subProduct">Group Name(Arabic)</th>
                <th *ngIf="!subProduct">Arabic Name</th>
                <th *ngIf="!subProduct">Arabic Link</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Image</th>
                <th *ngIf="!subProduct">Action</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of getLinkConfig">
                <td>{{ p.rowNumber }}</td>
                <td>{{ p.englishName }}</td>
                <td>{{ p.groupInEnglish }}</td>
                <td>{{ p.englishLink }}</td>
                <td>{{ p.groupInArabic }}</td>
                <td>{{ p.arabicName }}</td>
                <td>{{ p.arabicLink }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'Y',
          'inactive': p.status === 'N'
        }">
                        {{ p.status === 'Y' ? 'Active' : p.status === 'N' ? 'Inactive' : 'Active' }}
                    </span>
                </td>
                <td class="w-180">
                    <img *ngIf="p.imageBase64" [src]="'data:image/png;base64,' + p.imageBase64" width="50" height="50"
                        alt="image" />
                </td>

                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the License? Click on delete to remove the license"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>