@use '../../dashboard/dashboard-add-retail-product/dashboard-add-retail-product.scss';

.mt-0 {
    margin-top: 0 !important;
}

::ng-deep .mdc-switch__icons {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.p-10 {
    padding-right: 10px;
}