@use '../../dashboard/dashboard-add-retail-product/dashboard-add-retail-product.scss';

.mt-0 {
    margin-top: 0 !important;
}

::ng-deep .mdc-switch__icons {
    display: none;
}

.d-flex {
    display: flex;
    align-items: center;
}

.p-10 {
    padding-right: 10px;
}

.form-actions {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fs-20 {
    font-size: 20px;
    color: #6017EB;
    font-weight: 600;
    margin: 0;
}

.mt-20 {
    margin-top: 20px;
}

.progress-container {
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.step-text {
    font-size: 16px;
    color: #030303;
    margin-bottom: 5px;
    font-weight: 500;
}

.progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10px;
    // background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 10px;
}

.progress-step {
    width: 95%;
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    border-radius: 8px;
    height: 6px;
}

.progress-gap {
    width: 5%;
    height: 100%;
    // background-color: #e0e0e0;
}

.progress-step.active {
    background-color: #6017EB;
    border-radius: 8px;
    height: 6px;
}

mat-select {
    width: 97%;
    padding: 20px 10px 20px 14px;
}

input {
    width: 97%;
    padding: 20px 10px 20px 14px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pl-10 {
    padding-left: 10px;
}