<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />Add
                Offer Management </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">

            <!-- Channel + Category Dropdown -->
            <div class="form-row full-width mt-20">
                <div class="form-group">
                    <label>Partner Name </label>
                    <mat-select formControlName="parnterName" placeholder="Select Partner Name" class="mt-20">
                        <mat-option *ngFor="let c of getPartnerName" [value]="c">{{ c.companyName }}</mat-option>
                    </mat-select>
                </div>

            </div>

            <div class="form-row full-width">
                <div class="form-group">
                    <label>Product Name</label>
                    <input placeholder="Enter Product Name" class="mt-20" formControlName="productName" />
                </div>

                <div class="form-group">
                    <label>Offer Title</label>
                    <input placeholder="Enter Offer Title" class="mt-20" formControlName="offerTitle" />
                </div>
            </div>

            <div class="form-group full-width mb-20">
                <label>Offer Tag</label>
                <input placeholder="Enter Offer Description" class="mt-20" formControlName="offerTag" />
            </div>


            <div class="form-group full-width mb-20">
                <label>Offer Description</label>
                <input placeholder="Enter Offer Description" class="mt-20" formControlName="offerDescription" />
            </div>


            <div class="form-group full-width mb-20">
                <label>Terms & Conditions</label>
                <input placeholder="Enter Terms & Condition" class="mt-20" formControlName="termsAndCondition" />
            </div>


            <div class="form-group full-width mb-20">
                <label>Offer Type</label>
                <mat-select formControlName="offerType" placeholder="Select Partner Name" class="mt-20">
                    <mat-option *ngFor="let c of getOfferType" [value]="c">{{ c.categoryCode }}</mat-option>
                </mat-select>
            </div>

            <div class="form-group full-width">
                <label>Reward Type</label>
                <mat-select formControlName="rewardType" placeholder="Select Partner Name" class="mt-20">
                    <mat-option *ngFor="let c of getRewardType" [value]="c">{{ c.categoryCode }}</mat-option>
                </mat-select>
            </div>

            <h3>Applicable Channels</h3>
            <div class="checkbox-group mb-20">
                <mat-checkbox formControlName="mobile"><span class="fs-16">Mobile</span></mat-checkbox>
                <mat-checkbox formControlName="web"><span class="fs-16">Web</span></mat-checkbox>
                <mat-checkbox formControlName="all"><span class="fs-16">All</span></mat-checkbox>
            </div>

            <div class="form-group full-width">
                <label>Reward Value</label>
                <input placeholder="Select Reward Value" formControlName="rewardVaue" />
            </div>

            <div class="form-group full-width mt-20 mb-20">
                <div class="form-group">
                    <label>Redemption Method </label>
                    <mat-select formControlName="redemptionMethod" placeholder="Select Redemption Methos">
                        <mat-option *ngFor="let c of getRedemption" [value]="c">{{ c.categoryCode }}</mat-option>
                    </mat-select>
                </div>

            </div>

            <div class="form-group full-width mb-20">
                <label>Redemption Limit per User</label>
                <input placeholder="Enter Redemption Limit per User" formControlName="redemptionLimitPerUser" />
            </div>

            <div class="form-group full-width mb-20">
                <label>Total Redemption Allowed</label>
                <input placeholder="Enter Total Redemption Allowed" formControlName="totalRedemptionAllowed" />
            </div>


            <div class="form-group full-width">
                <label>Valid From</label>
                <input placeholder="Enter Total Redemption Allowed" type="date" formControlName="validFrom" />
            </div>

            <div class="form-group full-width">
                <label>Valid To</label>
                <input placeholder="Enter Total Redemption Allowed" type="date" formControlName="validTo" />
            </div>

            <div class="form-group full-width mt-20 mb-20">
                <div class="form-group">
                    <label>Customer Segment </label>
                    <mat-select formControlName="customerSegment" placeholder="Select Customer Segment">
                        <mat-option *ngFor="let c of channels" [value]="c">{{ c }}</mat-option>
                    </mat-select>
                </div>

            </div>

            <!-- Status -->
            <div class="form-row">
                <div class="form-group">
                    Enable <mat-slide-toggle formControlName="status" color="primary" class="pl-10"></mat-slide-toggle>
                </div>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Cancel</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>