<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />Add
                Product Management
            </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
            <!-- Channel + Category Dropdown -->

            <div class="form-row full-width">
                <div class="form-group">
                    <label>Domain </label>
                    <mat-select formControlName="domain" placeholder="Select Unit" class="mt-20">
                        <mat-option *ngFor="let c of getDomainMgmt" [value]="c">{{ c.desc }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Unit </label>
                    <mat-select formControlName="unit" placeholder="Select Role" class="mt-20">
                        <mat-option *ngFor="let c of getUnits" [value]="c">{{ c.unitCode }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Product Code</label>
                    <input placeholder="Enter Product Code" class="mt-20" formControlName="productCode" />
                </div>

                <div class="form-group">
                    <label>Product Description</label>
                    <input placeholder="Enter Product Description" class="mt-20" formControlName="productDescription" />
                </div>

                <div class="form-group">
                    <label>Priority</label>
                    <input placeholder="Enter Priority" class="mt-20" formControlName="priority" />
                </div>
            </div>

            <div class="form-group">
                <label>Status</label>
                <mat-slide-toggle formControlName="status" color="primary" class="pl-10"></mat-slide-toggle>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Discard</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>