.chart-card {
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.chart-container-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.chart-container-wrapper mat-card {
  flex: 1;
  padding: 10px;
  margin: 0 10px;
  max-width: 50%;
}

mat-card-header {
  background-color: #f5f5f5;
  color: #333;
}

mat-card-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

mat-card-content {
  padding: 20px 0;
}

h3 {
  text-align: center;
  color: #333;
  margin-bottom: 15px;
}

.chart-container {
  position: relative;
  width: 100%;
  height: 350px;
  /* Adjust height as needed */
  max-width: 100%;
  margin: auto;
}



.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.active_users {
  font-size: 14px;
  font-weight: 400;
  color: #687380;

}