<div class="stats-container">
    <div class="stat-card">
        <div class="stat-title">
            <span class="card-title">Total Countries</span>
            <div class="stat-change">
                <img src="images/sub_product_blue.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">{{products.data.length}}</span><span
                class="sub-product-header">+100% </span><span class="sub-product-month">from last month</span></div>
    </div>

    <div class="stat-card-newusers">
        <div class="stat-title">
            <span class="card-title">Active Countries</span>
            <div class="stat-change">
                <img src="images/copy_success_yellow.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">{{activeProduct.length}}</span><span
                class="sub-product-header">+100% </span><span class="sub-product-month">of total</span></div>

    </div>

    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Inactive Countries</span>
            <div class="stat-change">
                <img src="images/copy_green.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">{{inActiveProduct.length}}</span><span
                class="sub-product-month">Pending review and
                activation</span></div>
    </div>
</div>

<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Country Code</th>
                <th *ngIf="!subProduct">Country Description</th>
                <th *ngIf="!subProduct">ISO Country Code</th>
                <th *ngIf="!subProduct">Country Code ISO3a</th>
                <th *ngIf="!subProduct">Colour</th>
                <th *ngIf="!subProduct">Unit Description</th>
                <th *ngIf="!subProduct">Base Currency</th>

                <th *ngIf="!subProduct">Eurozone Flag</th>
                <th *ngIf="!subProduct">Remarks</th>
                <th *ngIf="!subProduct">Mobile Number Prefix</th>
                <th *ngIf="!subProduct">Nationality</th>
                <th *ngIf="!subProduct">Language EN</th>
                <th *ngIf="!subProduct">Language AR</th>
                <th *ngIf="!subProduct">Language FR</th>
                <th *ngIf="!subProduct">Swift Name</th>
                <th *ngIf="!subProduct">Transfer Remitter/Benef Address</th>
                <th *ngIf="!subProduct">Beneficiary Address Field(POB/DOB)</th>
                <th *ngIf="!subProduct">Digital Onboarding Eligibility</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Action</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of products?.data">
                <td>{{ p.countryCode }}</td>
                <td class="w-180">{{ p.countryDesc }}</td>
                <td>{{ p.isoCountryCode }}</td>
                <td>{{ p.countryCodeIso3a}}</td>
                <td>{{ p.color }}</td>
                <td>{{ p.unitDesc }}</td>
                <td>{{ p.baseCurrency }}</td>

                <td>{{ p.eurozoneFlag }}</td>
                <td>{{ p.remarks }}</td>
                <td>{{ p.mobNoPrefix }}</td>
                <td>{{ p.nationality }}</td>
                <td>{{ p.langEn }}</td>
                <td>{{ p.langAr }}</td>
                <td>{{ p.langFr }}</td>
                <td>{{ p.baseCurrency }}</td>
                <td>{{ p.transferBenefAddress }}</td>
                <td>{{ p.benefAddress }}</td>
                <td>{{ p.digitalOnboardingEligibility }}</td>
                <td> <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'IACT'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'IACT' ? 'Inactive' : p.status }}
                    </span></td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Country"
        message="Are you sure you want to make changes to the Country? Click on delete to remove the Country"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>
</div>