<mat-toolbar color="primary" class="mfa-header">
  <div class="header-left">
    <button mat-icon-button class="menu-btn" (click)="toggleSidebar.emit()">
      <mat-icon>menu</mat-icon>
    </button>

    <img src="images/secure-payment-icon.png" alt="MoneySecure Logo" class="logo" />
    <span class="header-title" style="color:#1976d2; font-weight:700;">Money Secure</span>
    <span class="header-title">MFA Management</span>
    <mat-icon>chevron_right</mat-icon>
    <span class="header-title" style="font-weight:700;">MFA Management</span>
  </div>

  <div class="header-right">
    <div class="user-section">
      <div class="user-details">
        <span class="username">ram123</span>
        <span class="role">SYSADMIN</span>
      </div>
      <img src="images/man-user-circle-icon.png" class="avatar" alt="User avatar" />
    </div>

    <div class="logout">
      <span>Logout</span>
      <mat-icon>logout</mat-icon>
    </div>
  </div>
</mat-toolbar>
