<mat-toolbar color="primary" class="mfa-header">x
  <!-- Left side: Logo + Title -->
  <div class="header-left">
    <img src="images/secure-payment-icon.png" alt="MoneySecure Logo" class="logo" />
    <span class="header-title" style="color:#1976d2; font-weight:700;">Money Secure</span>
    <span class="header-title">MFA Management</span>
    <mat-icon>chevron_right</mat-icon>
    <span class="header-title" style="font-weight:700;">MFA Management</span>
  </div>

  <!-- Right side: User info -->
 <div class="header-right">
  <div class="user-section" >
      <div class="user-details">
      <span class="username">ram123</span>
      <span class="role">SYSADMIN</span>
    </div>
    <img src="images/man-user-circle-icon.png" class="avatar" alt="User avatar" />
  
    <!-- <mat-icon class="dropdown-icon">expand_more</mat-icon> -->
  </div>

  <!-- <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profile</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu> -->

  <div class="logout">
    <span>Logout</span>
    <mat-icon>logout</mat-icon>
  </div>
</div>

</mat-toolbar>
