<div class="overlay" (click)="closeForm()">
  <div class="modal-container" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>Add Configuration</h2>
    </div>

    <form [formGroup]="productForm" (ngSubmit)="submitForm()">

      <!-- Product Name -->
      <div class="form-row full-width">
        <label>Domain</label>
        <mat-select formControlName="domain" placeholder="Select Domain">
          <mat-option *ngFor="let d of boDropdown" [value]="d">{{ d.desc }}</mat-option>
        </mat-select>
      </div>

      <!-- Channel + Category Dropdown -->
      <div class="form-row">
        <div class="form-group">
          <label>Channel</label>

          <mat-select formControlName="channel" multiple placeholder="Select Channel">
            <mat-option *ngFor="let c of channelDropdown" [value]="c">
              {{ c.name }}
            </mat-option>
          </mat-select>

        </div>


        <div class="form-group">
          <label>Category</label>
          <mat-select formControlName="category" placeholder="Select Category">
            <mat-option *ngFor="let cat of categoryDropdown" [value]="cat">{{ cat.name }}</mat-option>
          </mat-select>
        </div>
      </div>

      <!-- OTP Details -->
      <div class="form-row">
        <div class="form-group">
          <label>OTP Length</label>
          <input formControlName="otpLength" matInput placeholder="Enter the length" />
        </div>

        <div class="form-group">
          <label>Max Invalid Attempts</label>
          <input formControlName="maxAttempts" matInput placeholder="Enter max attempts" />
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>OTP Expiry</label>
          <input formControlName="otpExpiry" matInput placeholder="Enter expiry time" />
        </div>

        <div class="form-group">
          <label>Block Duration</label>
          <mat-select formControlName="blockDuration" placeholder="Select duration">
            <mat-option *ngFor="let b of blockDurations" [value]="b">{{ b }}</mat-option>
          </mat-select>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group">
          <label>Max Resend Count </label>
          <input formControlName="otpExpiry" matInput placeholder="Enter expiry time" />
        </div>

        <div class="form-group">
          <label>Type</label>
          <mat-select formControlName="blockDuration" placeholder="Select duration">
            <mat-option *ngFor="let b of blockDurations" [value]="b">{{ b }}</mat-option>
          </mat-select>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group">
          <label>Max Timer</label>
          <input formControlName="otpExpiry" matInput placeholder="Enter expiry time" />
        </div>

        <div class="form-group">
          <label>Delivery Modes</label>
          <mat-select formControlName="deliveryMode" placeholder="Select duration">
            <mat-option *ngFor="let b of deliveryModesOptions" [value]="b">{{ b }}</mat-option>
          </mat-select>
        </div>

        <div class="form-group full-width">
          <label>Template Name</label>
          <mat-select formControlName="templateName" placeholder="Select duration">
            <mat-option *ngFor="let template of templateDropdown" [value]="template">{{ template.name }}</mat-option>
          </mat-select>
        </div>

        <div class="form-row">
          <label>Enable the options by selecting the checkbox</label>
          <div class="checkbox-group">
            <mat-checkbox formControlName="mobileOtp"><span class="fs-16">Mobile OTP</span></mat-checkbox>
            <mat-checkbox formControlName="biometric"><span class="fs-16">Biometric</span></mat-checkbox>
            <mat-checkbox formControlName="webOtp"><span class="fs-16">Web OTP</span></mat-checkbox>
          </div>
        </div>
      </div>



      <!-- Status -->
      <div class="form-row">
        <div class="form-group">
          Status <mat-slide-toggle formControlName="status" color="primary"></mat-slide-toggle>
        </div>
      </div>

      <!-- Buttons -->
      <div class="form-actions">
        <button type="submit" mat-raised-button color="primary" class="btn-cancel" (click)="closeForm()">Cancel</button>
        <button type="button" mat-raised-button color="accent" class="btn-save" (click)="submitForm()">Save</button>
      </div>
    </form>
  </div>
</div>