<div class="user-overview">
    <h2>Digital Channel Performance Monitor</h2>
    <p>Monitor service failures, latency trends, and identify issues requiring immediate corrective action across all
        digital channels.</p>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-title">
                <span class="card-title">Total Failed Transactions</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">65</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
        </div>

        <div class="stat-card-newusers">
            <div class="stat-title">
                <span class="card-title">Average Latency (ms)</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">212</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">High Severity Errors</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">65</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">Most Affected Service</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">Int'l Transfer</div>
            </div>

        </div>
    </div>
</div>


<div class="chart-container-wrapper">
    <mat-card class="chart-card">
        <mat-card-header>
            <div class="mat-header">
                <mat-card-title class="w-40">
                    Service Failure & Latency by Transaction Type</mat-card-title>

                <mat-card-title class="w-60">
                    <div class="right-side-img">
                        <img src="images/yellow_pending.png" class="notification_icon">
                        <span class="header_title">Warning</span>

                        <img src="images/green_success.png" class="notification_icon">
                        <span class="header_title">Info</span>

                        <img src="images/red_failure.png" class="notification_icon">
                        <span class="header_title">Error</span>

                        <img src="images/completed.png" class="notification_icon">
                        <span class="header_title">Avg Latency ms</span>
                    </div>
                </mat-card-title>
            </div>

        </mat-card-header>
        <mat-card-content>
            <canvas baseChart [data]="barChartDataSet" [options]="barChartOptionsSet" chartType="bar">
            </canvas>
        </mat-card-content>
    </mat-card>
    <mat-card class="chart-card card-size-pie">
        <mat-card-header>
            <div class="header-cardtitle">
                <mat-card-title>Top 5 Failure Rates (Current Year)</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <canvas baseChart [data]="top5ChartData" [options]="top5ChartOptions" chartType="bar">
            </canvas>
            <!-- <div class="bar-left-content">
                <span class="label-1">22% failures</span>
                <span class="label-2">15% failures</span>
            </div>


            <div class="bar-left-web">
                <span class="label-3">12% failures</span>
                <span class="label-4">17% failures</span>
                <span class="label-5">7% failures</span>
            </div> -->

        </mat-card-content>
    </mat-card>


</div>