<div class="stats-container">
    <div class="stat-card">
        <div class="stat-title">
            <span class="card-title">Total Product</span>
            <div class="stat-change">
                <img src="images/sub_product_blue.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">15</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">from last month</span></div>
    </div>

    <div class="stat-card-newusers">
        <div class="stat-title">
            <span class="card-title">Active Products</span>
            <div class="stat-change">
                <img src="images/copy_success_yellow.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">15</span><span class="sub-product-header">+100% </span><span
                class="sub-product-month">of total</span></div>

    </div>

    <div class="stat-card-activeusers">
        <div class="stat-title">
            <span class="card-title">Inactive Products</span>
            <div class="stat-change">
                <img src="images/copy_green.png" class="notification_icon">
            </div>
        </div>
        <div class="stat-value"><span class="mr-12">0</span><span class="sub-product-month">Pending review and
                activation</span></div>
    </div>
</div>

<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Domain </th>
                <th *ngIf="!subProduct">Unit</th>
                <th *ngIf="!subProduct">Product Code</th>
                <th *ngIf="!subProduct">Product Description</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Priority</th>
                <th *ngIf="!subProduct">Actions</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of pagedProducts;let i=index;" [ngClass]="{'bg-grey': i%2 != 0}">
                <td>{{ p.domain }}</td>
                <td>{{ p.unit }}</td>
                <td>{{ p.productCode }}</td>
                <td>{{ p.productDescription }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'IAC'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'IAC' ? 'Inactive' : p.status }}
                    </span>
                </td>
                <td>{{p.priority}}</td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">

        <!-- Previous -->
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
            ‹
        </button>

        <!-- Page Numbers -->
        <ng-container *ngFor="let page of pages; let i = index">

            <!-- Ellipsis -->
            <span *ngIf="i > 0 && page - pages[i - 1] > 1">
                ...
            </span>

            <!-- Page Button -->
            <button (click)="setPage(page)" [class.active-page]="page === currentPage">
                {{ page }}
            </button>

        </ng-container>

        <!-- Next -->
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            ›
        </button>

    </div>



    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Menu"
        message="Are you sure you want to make changes to the Menu? Click on delete to remove the Menu Management"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>