<div class="user-overview">
    <h2>Digital Onboarding Journey Insights</h2>
    <p>Track customer onboarding paths, identify drop-off points, and measure conversion rates to improve the digital
        onboarding experience.</p>

    <div class="stats-container">
        <div class="stat-card">
            <div class="stat-title">
                <span class="card-title">Users Started Onboarding</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">{{onboardingCounts?.startedCount}}</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>
        </div>

        <div class="stat-card-newusers">
            <div class="stat-title">
                <span class="card-title">Broken Journeys</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">{{onboardingCounts?.brokenCount}}</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">Completed Onboarding</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">{{onboardingCounts?.completedCount}}</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>

        </div>

        <div class="stat-card-activeusers">
            <div class="stat-title">
                <span class="card-title">Conversion Rate</span>
            </div>
            <div class="stat-title">
                <div class="stat-value">78.8%</div>
                <div class="stat-change">
                    <img src="images/arrow-growth.png" class="notification_icon">
                    <span>12%</span>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="chart-container-wrapper">
    <mat-card class="chart-card card-size-first">
        <mat-card-header>
            <div class="header-cardtitle">
                <mat-card-title>Onboarding Funnel</mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <canvas #funnelChart></canvas>
        </mat-card-content>
    </mat-card>

    <mat-card class="chart-card card-size-second">
        <div class="mat-header">
            <mat-card-header>
                <mat-card-title>Journey Trends Over Time</mat-card-title>
            </mat-card-header>


            <mat-card-title class="w-60">
                <div class="right-side-img">
                    <div class="d-flex">
                        <img src="images/red_failure.png" class="notification_icon">
                        <span class="header_title">Broken</span>
                    </div>

                    <div class="d-flex">
                        <img src="images/green_success.png" class="notification_icon">
                        <span class="header_title">Completed</span>
                    </div>

                    <div class="d-flex">
                        <img src="images/completed.png" class="notification_icon">
                        <span class="header_title">Started</span>
                    </div>
                </div>
            </mat-card-title>

            <div class="filter">

                <!-- <label for="date">Today</label> -->
                <select id="date" name="date">
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="last-week">Last Week</option>
                </select>
            </div>

            <div>

            </div>
        </div>
        <mat-card-content>
            <canvas #journeyChart></canvas>

        </mat-card-content>
    </mat-card>
</div>