<div class="overlay" (click)="closeForm()">
    <div class="modal-container" (click)="$event.stopPropagation()">

        <div class="modal-header">
            <h2 class="d-flex"><img class="eye-icon p-10" src="images/left-arrow.png" alt="toggle visibility" />Add
                Child Product Management
            </h2>
        </div>

        <form [formGroup]="productForm" (ngSubmit)="submitForm()">
            <!-- Channel + Category Dropdown -->

            <div class="form-row full-width">
                <div class="form-group">
                    <label>Domain </label>
                    <mat-select formControlName="domain" placeholder="Select Product" class="mt-20">
                        <mat-option *ngFor="let c of getDomainMgmt" [value]="c" (click)="selectDomain(c)">{{ c.desc
                            }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Product </label>
                    <mat-select formControlName="product" placeholder="Select Role" class="mt-20">
                        <mat-option *ngFor="let c of getMenuDropdown" [value]="c" (click)="selectSubMenu(c)">{{ c.desc
                            }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Sub-Product </label>
                    <mat-select formControlName="subProduct" placeholder="Select Sub-Product" class="mt-20">
                        <mat-option *ngFor="let c of getSubMenuDropdown" [value]="c">{{ c.subProductDesc }}</mat-option>
                    </mat-select>
                </div>

                <div class="form-group">
                    <label>Child Menu Product Code</label>
                    <input placeholder="Child Menu Product Code" class="mt-20" formControlName="childMenuProductCode" />
                </div>

                <div class="form-group">
                    <label>Child Menu Description</label>
                    <input placeholder="Child Menu Description" class="mt-20" formControlName="childMenuDescription" />
                </div>

                <div class="form-group">
                    <label>Child Menu URL</label>
                    <input placeholder="Child Menu URL" class="mt-20" formControlName="childMenuURL" />
                </div>

                <div class="form-group">
                    <label>Priority</label>
                    <input placeholder="Enter Priority" class="mt-20" formControlName="priority" />
                </div>

                <div class="form-row">
                    <div class="form-group">
                        Status <mat-slide-toggle formControlName="status" color="primary"
                            class="ml-10"></mat-slide-toggle>
                    </div>
                </div>
            </div>



            <!-- Buttons -->
            <div class="form-actions">
                <button type="submit" mat-raised-button color="primary" class="btn-cancel"
                    (click)="closeForm()">Discard</button>
                <button type="button" mat-raised-button color="accent" class="btn-save"
                    (click)="submitForm()">Save</button>
            </div>
        </form>
    </div>
</div>