@use '../../dashboard/dashboard-add-retail-product/dashboard-add-retail-product.scss';

.p-10 {
    padding-top: 10px;
}

.fs-16 {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #030303 !important;
}


.mat-mdc-checkbox label {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: red !important;
}

.upload-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.upload-box {
    background: #f4f4f4;
    border-radius: 12px;
    height: 48px;
    padding: 8px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.placeholder-text {
    color: #9b9b9b;
    font-size: 14px;
}

.upload-btn {
    background: #221340;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 40px;
}

.upload-btn mat-icon {
    font-size: 18px;
}

.file-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.mt-20 {
    margin-top: 20px;
}