<div class="dropdown-container manage-content-header">
    <div>
        <select class="dropdown" [(ngModel)]="selectedUnit">
            <option value="" disabled selected>Select Unit</option>
            <option *ngFor="let u of getUnit" [value]="u.unitCode">
                {{ u.unitDesc }}
            </option>
        </select>

        <select class="dropdown" [(ngModel)]="selectedChannel">
            <option value="" disabled selected>Select Channel</option>
            <option *ngFor="let c of getChannel" [value]="c.channelId">
                {{ c.channelDesc }}
            </option>
        </select>
    </div>



    <div>
        <button class="reset-button mr-10" (click)="onSearch()">Search</button>
        <button class="reset-button" (click)="onReset()">Reset</button>
    </div>
</div>


<div class="product-table-container">
    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn mr-10">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>

    </div>

    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Key</th>
                <th *ngIf="!subProduct">Value</th>
                <th *ngIf="!subProduct">Remarks</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct" class="text-center">Actions</th>


                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of getManageParameter">
                <td class="w-180">{{ p.key }}</td>
                <td class="w-180">{{ p.value}}</td>
                <td class="w-180">{{ p.description}}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'IAC'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'IAC' ? 'Inactive' : p.status }} </span>
                </td>
                <td class="actions d-flex">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the License? Click on delete to remove the license"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>