// @use '../../admin-center/admin-center-manage-otp/admin-center-manage-otp.scss';

@use '../../admin-center/admin-center-manage-content/admin-center-manage-content.scss';

.export-btn {
    background-color: #221340;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;

    img {
        position: relative;
        right: 10px;
    }
}

.text-center {
    text-align: center !important;
}

.d-flex {
    justify-content: center;
}

// .w-180 {
//     width: 180px;
//     max-width: 180px;
//     word-wrap: break-word;
//     white-space: normal;

// }

.product-table {
    width: 100%;
    table-layout: fixed; // makes columns equal
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    word-break: break-word;
}

/* Status column (4th column) */
.product-table th:nth-child(4),
.product-table td:nth-child(4) {
    width: 120px;
    text-align: center;
}

/* Actions column (5th column) */
.product-table th:nth-child(5),
.product-table td:nth-child(5) {
    width: 120px;
    text-align: center;
}

/* Remaining columns share space equally */
.product-table th:not(:nth-child(4)):not(:nth-child(5)),
.product-table td:not(:nth-child(4)):not(:nth-child(5)) {
    width: auto;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.mr-10 {
    margin-right: 10px;
}