<div class="user-overview">
  <h2>Login Activity</h2>
  <p>Monitor recent login attempts and session activities.</p>

  <div class="stats-container">
    <div class="stat-card">
      <div class="stat-title">
        <span class="card-title">Successful Logins</span>
        <div class="stat-change">
          <img src="images/arrow-growth.png" class="notification_icon">
          <span>12%</span>
        </div>
      </div>
      <div class="stat-value">18324</div>
      <div class="bottom-img">
        <img src="images/mobile.png">
        <span>5000</span>
        <img src="images/global.png">
        <span>300</span>
      </div>

    </div>

    <div class="stat-card-newusers">
      <div class="stat-title">
        <span class="card-title">Failed Login Attempts</span>
        <div class="stat-change">
          <img src="images/arrow-growth.png" class="notification_icon">
          <span>12%</span>
        </div>
      </div>
      <div class="stat-value">18324</div>
      <div class="bottom-img">
        <img src="images/mobile.png">
        <span>5000</span>
        <img src="images/global.png">
        <span>300</span>
      </div>

    </div>

    <div class="stat-card-activeusers">
      <div class="stat-title">
        <span class="card-title">Login Success Rate</span>
        <div class="stat-change">
          <img src="images/arrow-growth.png" class="notification_icon">
          <span>12%</span>
        </div>
      </div>
      <div class="stat-value">97.7%</div>
      <div class="bottom-img">
        <img src="images/mobile.png">
        <span>5000</span>
        <img src="images/global.png">
        <span>300</span>
      </div>

    </div>
  </div>
</div>
<div class="chart-container-wrapper">
  <mat-card class="chart-card">
    <mat-card-header>
      <div class="mat-header">
        <mat-card-title>
          Users Over Time</mat-card-title>
      </div>

    </mat-card-header>
    <mat-card-content>

      <canvas baseChart [data]="barChartData" [options]="barChartOptions" chartType="bar">
      </canvas>

    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card">
    <mat-card-header>
      <div class="mat-header">
        <mat-card-title>Daily Logins Trend</mat-card-title>
      </div>

    </mat-card-header>
    <mat-card-content>
      <canvas #myLineChart></canvas>
    </mat-card-content>
  </mat-card>

  <mat-card class="chart-card">
    <mat-card-header>
      <mat-card-title>Login Success vs Failed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="chart-wrapper" style="position: relative; width: 100%; height: 100%; max-width: 400px; margin: auto;">
        <canvas #myDonutChart></canvas>
        <div class="center-text">18324
          <p class="active_users">Successfull</p>
        </div>
      </div>
      <div class="left-side-img">
        <img src="images/green_success.png" class="notification_icon">
        <span class="header_title">Success</span>

        <img src="images/red_failure.png" class="notification_icon">
        <span class="header_title">Failure</span>
      </div>
    </mat-card-content>
  </mat-card>

</div>