@use '../admin-center-manage-otp/admin-center-manage-otp.scss';

.f-14 {
    font-size: 14px;
    font-weight: 500;
    color: #CC0A0D;
    padding-left: 10px;
}

.d-flex {
    display: flex;
}

.notification-template {
    width: 180px;
    max-width: 180px;
    word-wrap: break-word;
    white-space: normal;
}