<div class="product-table-container">
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Template ID</th>
                <th *ngIf="!subProduct">Domain ID</th>
                <th *ngIf="!subProduct">Unit ID</th>
                <th *ngIf="!subProduct">Channel ID</th>
                <th *ngIf="!subProduct">Template Name</th>
                <th *ngIf="!subProduct">Notification Type</th>
                <th *ngIf="!subProduct">Language</th>
                <th *ngIf="!subProduct">Notification Template</th>

                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of products">
                <td>{{ p.templateId }}</td>
                <td>{{ p.domainId }}</td>
                <td>{{ p.unitId }}</td>
                <td>{{ p.channelId }}</td>
                <td>{{ p.templateName }}</td>
                <td>{{ p.notificationType }}</td>
                <td>{{ p.language }}</td>
                <td class="notification-template">{{ p.notificationTemplate }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

</div>