<!-- <mat-toolbar color="primary" class="mfa-header">
   <span>Deals</span>

   <button mat-raised-button color="accent" class="add-deals">
      <mat-icon>add</mat-icon>
      Add deals
   </button>
</mat-toolbar> -->

<!-- <div>
   <button matButton="elevated" (click)="pipelineButton('Pipeline')"
      [ngClass]=" {pipelineActive: headerName ==='Pipeline'} ">Pipeline</button>
   <button matButton="elevated" class="executed-title" (click)="pipelineButton('Executed')"
      [ngClass]=" {pipelineActive: headerName ==='Executed'}">Executed</button>
</div> -->

<!-- <div class="dashboard-grid">

   <div class="card summary-card">
      <div class="card-title">Summary</div>

      <div *ngFor="let s of summary" class="summary-row">
         <div class="icon-circle" [style.background]="s.color">
            <mat-icon>{{ s.icon }}</mat-icon>
         </div>

         <div class="summary-text">
            <div class="summary-label">{{ s.label }}</div>
            <div class="summary-value">{{ s.value }}</div>
         </div>
      </div>
   </div>

   <div class="card chart-card">
      <div class="card-title">Score</div>

      <div class="chart-wrapper">
         <div>

         </div>
         <ngx-charts-pie-chart class="ngx-piechart" [results]="scoreChartData" [customColors]="scoreColors"
            [view]="[150, 150]" [doughnut]="true" [legend]="false" [labels]="false">
         </ngx-charts-pie-chart>

         <div class="center-scrorenumber">{{ scoreTotal }}</div>

         <div class="score-card">
            <div class="legend">
               <div *ngFor="let item of scoreChartData" class="score-legend-row">

                  <div class="score-legend-line1">
                     <span class="score-legend-dot" [style.background]="item.color"></span>
                     <span class="score-legend-label">{{ item.name }}</span>
                  </div>

                  <div class="score-legend-line2">
                     <span class="score-legend-value">{{ item.value }}</span>
                  </div>

               </div>
            </div>
         </div>


      </div>
   </div>

   <div class="card chart-card">
      <div class="card-title">Stages</div>

      <div class="chart-wrapper">
         <ngx-charts-pie-chart class="ngx-stage-piechart" [results]="stagesChartData" [customColors]="stagesColors"
            [view]="[150, 150]" [doughnut]="true" [legend]="false">
         </ngx-charts-pie-chart>

         <div class="center-number">{{ stagesTotal }}</div>

         <div class="legend">
            <div *ngFor="let item of stagesChartData" class="legend-row small">
               <span class="legend-dot" [style.background]="item.color"></span>
               <span>{{ item.name }}</span>
               <span class="legend-value">{{ item.value }}</span>
            </div>
         </div>
      </div>
   </div>

   <div class="card chart-card">
      <div class="card-title">Priority</div>

      <div class="chart-wrapper">
         <ngx-charts-pie-chart class="ngx-stage-piechart" [results]="priorityChartData" [customColors]="priorityColors"
            [view]="[150, 150]" [doughnut]="true" [legend]="false">
         </ngx-charts-pie-chart>

         <div class="center-priority-number">{{ priorityTotal }}</div>

         <div class="legend">
            <div *ngFor="let item of priorityChartData" class="legend-row">
               <span class="legend-dot" [style.background]="item.color"></span>
               <span>{{ item.name }}</span>
               <span class="legend-value">{{ item.value }}</span>
            </div>
         </div>
      </div>
   </div>

</div> -->

<!-- <div class="view-switch">
   <button mat-button (click)="activeView = 'table'" [class.active]="activeView === 'table'">Table</button>

   <button mat-button (click)="activeView = 'board'" [class.active]="activeView === 'board'">Board</button>
</div> -->
<!-- <div class="top-bar">
   <mat-tab-group>
      <mat-tab label="My directs"></mat-tab>
      <mat-tab label="All directs"></mat-tab>
      <mat-tab label="All list"></mat-tab>
   </mat-tab-group>

   <div class="actions">
      <mat-form-field appearance="outline" class="search-field dense">
         <mat-icon matPrefix>search</mat-icon>
         <input matInput placeholder="Search" (input)="applySearch($event)">
      </mat-form-field>

      <button mat-icon-button (click)="fileInput.click()">
         <div class="header-cell">
            <mat-icon class="filter-icon">file_upload</mat-icon>
            Import
         </div>
      </button>

      <input #fileInput type="file" hidden accept=".csv, .xlsx" (change)="onFileSelected($event)" />

      <button mat-icon-button>
         <div class="header-cell">
            <mat-icon class="filter-icon">view_list</mat-icon>
            Group
         </div>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="filterMenu">
         <div class="header-cell">
            <mat-icon class="filter-icon">filter_alt</mat-icon>
            Filter
         </div>
      </button>
      <mat-menu #filterMenu="matMenu" class="filter-menu">

         <div class="filter-title">Filter Deals</div>
         <mat-form-field appearance="fill" class="filter-field">
            <mat-label>Name</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value, 'name')" />
         </mat-form-field>

         <mat-form-field appearance="fill" class="filter-field">
            <mat-label>Created By</mat-label>
            <mat-select (selectionChange)="applyFilter($event.value, 'createdBy')">
               <mat-option value="">All</mat-option>
               <mat-option *ngFor="let u of createdByList" [value]="u">
                  {{ u }}
               </mat-option>
            </mat-select>
         </mat-form-field>


         <mat-form-field appearance="fill" class="filter-field">
            <mat-label>Assigned To</mat-label>
            <mat-select (selectionChange)="applyFilter($event.value, 'assignedTo')">
               <mat-option value="">All</mat-option>
               <mat-option *ngFor="let u of assignedToList" [value]="u">
                  {{ u }}
               </mat-option>
            </mat-select>
         </mat-form-field>


         <button mat-button color="warn" (click)="clearFilters()">Clear Filters</button>
      </mat-menu>


      <button mat-icon-button>
         <div class="header-cell">
            <mat-icon class="filter-icon">more_vert</mat-icon>
         </div>
      </button>


   </div>
</div> -->

<!-- <table mat-table [dataSource]="dataSource" matSort class="main-table">

   <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
         <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllRows()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
         <mat-checkbox [(ngModel)]="row.selected" (change)="checkIfAllSelected()"></mat-checkbox>
      </td>
   </ng-container>

   <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="name-title" mat-sort-header="name">
         <div class="header-cell">Name <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
   </ng-container>

   <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="createdBy">
         <div class="header-cell">Created by <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">
         <div class="created-by">
            <img class="avatar" [src]="row.createdBy.avatar" />
            <span>{{ row.createdBy.name }}</span>
         </div>
      </td>
   </ng-container>

   <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="createdDate">
         <div class="header-cell">Created date <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.createdDate }}</td>
   </ng-container>

   <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="size">
         <div class="header-cell">Size <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.size }}</td>
   </ng-container>

   <ng-container matColumnDef="assignedTo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="assignedTo">
         <div class="header-cell">Assigned to <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">
         <div class="assigned-to">
            <img class="avatar" [src]="row.assignedTo.avatar" />
            <span>{{ row.assignedTo.name }}</span>
         </div>
      </td>
   </ng-container>

   <ng-container matColumnDef="stage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="stage">
         <div class="header-cell">Stage <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">
         <span class="stage-pill" [ngStyle]="{'background': row.stageColor}">
            {{ row.stage }}
         </span>
      </td>
   </ng-container>

   <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="priority">
         <div class="header-cell">Priority <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">
         <span class="priority-dot" [style.background]="row.priorityColor"></span>
      </td>
   </ng-container>

   <ng-container matColumnDef="nextCall">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="nextCall">
         <div class="header-cell">Next call date <mat-icon class="filter-icon">arrow_drop_up</mat-icon></div>
      </th>
      <td mat-cell *matCellDef="let row">{{ row.nextCall }}</td>
   </ng-container>

   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table> -->

<!-- <div class="custom-paginator-wrapper">
   <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [pageSize]="25" showFirstLastButtons>
   </mat-paginator>
</div> -->