<div class="product-table-container">
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">MFA ID</th>
                <th *ngIf="!subProduct">Name</th>
                <th *ngIf="!subProduct">Type</th>
                <th *ngIf="!subProduct">Fail Count</th>
                <th *ngIf="!subProduct">Effective Period</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Actions</th>


                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of getMfa">
                <td>{{ item.mfaId }}</td>
                <td>{{ item.mfaName}}</td>
                <td>{{ item.mfaType}}</td>
                <td>{{ item.mfaFailCount}}</td>
                <td>{{ item.effectiveFrom }} to {{ item.effectiveTo }}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': item.status === 'ACT',
          'inactive': item.status === 'Inactive'
        }">
                        {{ item.status === 'ACT' ? 'Active' : item.status === 'INACT' ? 'Inactive' : item.status }}
                    </span>
                </td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(item)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(item)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>

    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to delete this MFA?" (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>