<div class="product-table-container">

    <div class="search-wrapper">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <img src="images/admin_search.png" class="notification_icon">
        </div>

        <button class="filter-btn">
            <img src="images/admin_filter.png" class="notification_icon">
        </button>
    </div>


    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Domain</th>
                <th *ngIf="!subProduct">Channel</th>
                <th *ngIf="!subProduct">Category</th>
                <th *ngIf="!subProduct">OTP Length</th>
                <th *ngIf="!subProduct">OTP Expiry</th>
                <th *ngIf="!subProduct">Max Attempts</th>
                <th *ngIf="!subProduct">Max Invalid Session</th>
                <th *ngIf="!subProduct">Max Invalid User</th>
                <th *ngIf="!subProduct">Block Duration</th>
                <!-- <th *ngIf="!subProduct">Max Resend Count</th> -->
                <th *ngIf="!subProduct">Resend Interval (Sec)</th>
                <th *ngIf="!subProduct">Delivery Modes</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Actions</th>


                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>



        <tbody>

            <tr *ngFor="let item of pagedProducts">
                <td>{{ item.domainId }}</td>
                <td>{{ item.channelName}}</td>
                <td>{{ item.categoryId}}</td>
                <td>{{ item.otpLength}}</td>
                <td>{{ item.otpExpirySecond}}</td>
                <td>{{ item.maxResendCount}}</td>
                <td> {{item.maxInvalidSession}}</td>

                <td> {{item.maxInvalidUser}}</td>
                <td> {{item.blockDurationMin}}</td>
                <td> {{item.resendIntervalSec}}</td>

                <td>{{ item.deliveryMode}}</td>
                <!-- <td>{{ p.status}}</td> -->
                <td>
                    <span class="status" [ngClass]="{
          'active': item.activeFlag === 'Y',
          'inactive': item.activeFlag === 'N'
        }">
                        {{ item.activeFlag === 'Y' ? 'Active' : item.activeFlag === 'N' ? 'Inactive' : item.activeFlag
                        }}
                    </span>
                </td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(item)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(item)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">

        <!-- Previous -->
        <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">
            ‹
        </button>

        <!-- Page Numbers -->
        <ng-container *ngFor="let page of pages; let i = index">

            <!-- Ellipsis -->
            <span *ngIf="i > 0 && page - pages[i - 1] > 1">
                ...
            </span>

            <!-- Page Button -->
            <button (click)="setPage(page)" [class.active-page]="page === currentPage">
                {{ page }}
            </button>

        </ng-container>

        <!-- Next -->
        <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">
            ›
        </button>

    </div>


    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the Product? Click on delete to remove the product management"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>