<div class="product-table-container">
    <table class="product-table">
        <thead>
            <tr>
                <th *ngIf="!subProduct">Domain</th>
                <th *ngIf="!subProduct">Notification Types</th>
                <th *ngIf="!subProduct">Expiry Date</th>
                <th *ngIf="!subProduct">Alert Status</th>
                <th *ngIf="!subProduct">Warning Status</th>
                <th *ngIf="!subProduct">Status</th>
                <th *ngIf="!subProduct">Actions</th>
                <th *ngIf="subProduct">Sub-Product Name</th>
                <th *ngIf="subProduct">Parent Product</th>
                <th *ngIf="subProduct">Features</th>
                <th *ngIf="subProduct">Channel</th>
                <th *ngIf="subProduct">Screen</th>
                <th *ngIf="subProduct">Status</th>
                <th *ngIf="subProduct">Priority</th>
                <th *ngIf="subProduct">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let p of getLicenseData">
                <td>{{ p.domainName }}</td>
                <td>{{ p.notificationDeliveries[0].deliveryType}}</td>
                <td>{{ p.expiryDate}}</td>
                <td>{{ p.alertStatus}}</td>
                <td>{{ p.warningStatus}}</td>
                <td>
                    <span class="status" [ngClass]="{
          'active': p.status === 'ACT',
          'inactive': p.status === 'IAC'
        }">
                        {{ p.status === 'ACT' ? 'Active' : p.status === 'IAC' ? 'Inactive' : p.status }}
                    </span>
                </td>
                <td class="actions">
                    <!-- Use images -->
                    <ng-container>
                        <img src="images/eye.png" />
                        <img src="images/edit.png" (click)="openModal(p)" />
                        <img src="images/trash_red.png" (click)="openDeletePopup(p)" />
                    </ng-container>

                </td>
            </tr>
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination">
        <button>&lt;</button>
        <button class="active-page">1</button>
        <button>2</button>
        <button>3</button>
        <span>…</span>
        <button>10</button>
        <button>&gt;</button>
    </div>
    <app-comon-popup [visible]="showDeleteConfirm" title="Delete Product"
        message="Are you sure you want to make changes to the License? Click on delete to remove the license"
        (confirm)="confirmDelete()" (cancel)="cancelDelete()">
    </app-comon-popup>

</div>